[2019-03-07 15:05] sberyozkin opened #28 "JWTAuthContextInfo should be injectable"
Right now it is passed as a 2nd parameter to the factory validating the token. Instead the factories which need it should have it injected

[2019-03-15 17:57] sberyozkin opened #29 "Extract Jose4J code from DefaultJWTCallerPrincipalFactory into a separate class"
To avoid other implementations such as Quarkus [MpJwtValidator](https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/MpJwtValidator.java) totally duplicating it.
Syncing the code which is currently duplicated in Quarkus with the one from DefaultJWTCallerPrincipal is also part of this issue

[2019-04-03 15:27] sberyozkin opened #32 "Create RFC7662 TokenIntrospectionFactory"
[RFC 7662|https://tools.ietf.org/html/rfc7662] talks about OAuth2/OIDC servers returning token introspection responses.
Keycloak also implements it:  https://issues.jboss.org/browse/KEYCLOAK-2266

Having such a factory will let the users (optionally) integrate with any certified OIDC servers. It will also allow to support the encrypted tokens issued by such servers (which choose to encrypt them) s

[2019-04-03 15:29] sberyozkin commented on #32
Might require a provided smallrye-rest-client dependency

[2019-04-10 12:33] #29 closed

[2019-04-10 12:34] sberyozkin opened #35 "Move CDI producer beans from Quarkus and Thorntail to smallrye-jwt"

[2019-04-17 05:50] wicksim opened #38 "JWTCallerPrincipal @RequestScoped"
I'm using Microprofile JWT for Thorntail (which is using this library) and in my `@ApplicationScoped` bean, the principal (JsonWebToken) isn't `@RequestScoped`.

According to the [specification 1.1](https://github.com/eclipse/microprofile-jwt-auth/releases/download/1.1/microprofile-jwt-auth-spec-1.1.pdf) (or even 1.0), "7.1.1. Injection of JsonWebToken", `JsonWebToken` needs to be `@RequestScoped`

[2019-04-17 13:45] kenfinnigan commented on #38
Can you comment on this @sberyozkin or @starksm64?

[2019-04-17 14:30] starksm64 commented on #38
Yes, this is something we ran into with Quarkus and I had asked @sberyozkin to port over the change to move away from the thread local behavior to properly support request scoping into our smallrye implementation.

[2019-04-18 10:15] sberyozkin commented on #38
@wicksim, which Thorntail version are you using ?
We have had [THORN-2110](https://issues.jboss.org/browse/THORN-2110) resolved for 2.1.0.Final, see [this PR](https://github.com/thorntail/thorntail/pull/1071/files).

[2019-04-18 10:23] wicksim commented on #38
I'm using 2.3.0.Final. So, there must still be an issue here. Couldn't it be that principal itself is still `@ApplicationScoped` and therefore only injected once?

[2019-04-18 11:08] sberyozkin commented on #38
@wicksim, thanks, please watch [THORN-2390](https://issues.jboss.org/browse/THORN-2390). Going to start looking into it next Tue with few days off on the way. Let me close this issue as it is really a Thorntail specific one.

[2019-04-18 11:19] #38 closed

[2019-04-18 19:33] sberyozkin opened #39 "Provide a configurable default 'groups' claim value if the token does not have it"
smallrye-jwt can do it first before https://github.com/eclipse/microprofile-jwt-auth/issues/129 is addressed

[2019-04-20 08:58] masini opened #40 "Support the cases where JWT token is not available in HTTP Authorization header"
As mentioned here :

https://github.com/eclipse/microprofile-jwt-auth/issues/126

there are good reasons to have the token in the payload or in another HTTP header (like an httpOnly cookie).

[2019-04-26 15:50] sberyozkin opened #41 "Support OIDC client web servers better"
This may become an MP-JWT issue, but some initial experiments can be done in smallrye-jwt.
Currently, as far as MP-JWT is concerned it can work well in cases where OIDC client (browser or webserver) acquires an access token and uses them to access RSs which is where MP-JWT helps.

For example, OIDC authorization code flow would typically involve a web server acting as OIDC client, redirecting the

[2019-04-26 15:56] sberyozkin commented on #41
Having said it, it could be simpler/better align MP-JWT in such cases with the specific IDP adapter implementations such as Keycloak which are optimized around supporting various flows better.
Will keep this issue for now though, in case adding some simple portable mechanism (or callbacks to link with KC, etc) will make sense

[2019-04-30 09:53] sberyozkin commented on #38
@wicksim FYI, the issue has been resolved in Thorntail 2.5.0-SNAPSHOT

[2019-05-01 16:20] sberyozkin commented on #35
See #42

[2019-05-01 16:29] #35 closed

[2019-05-09 09:56] #40 closed

[2019-05-09 09:57] #39 closed

[2019-05-13 09:11] sberyozkin opened #50 "Update JWTAuthContextInfoProvider to accept other group and custom header properties"
For example, Thorntail or Quarkus specific ones, only a minor update to JWTAuthContextInfoProvider.setTokenHeadersAndGroups is needed

[2019-05-13 15:15] MikeEdgar opened #51 "KeyLocationResolver does not match on key ID"
The `io.smallrye.jwt.auth.principal.KeyLocationResolver.tryAsJWKx(String)` does not compare the `kid` argument to the `kid` entry on the JWK(S) object(s) fetched from `mp.jwt.verify.publickey.location`.

[2019-05-14 01:06] MikeEdgar opened #52 "CDI extension and JSR-375"
Is there any potential for this library to incorporate a CDI extension and perhaps an implementation of `HttpAuthenticationMechanism`, falling back to the JAX-RS filter if no runtime is available? Using JSR-375 seems like a natural fit for an implementation of MP-JWT (knowing that the API does not use JSR-375).

[2019-05-14 12:19] MikeEdgar opened #53 "JwtConsumer#processContext(JwtContext) called twice"
The jose4j method `org.jose4j.jwt.consumer.JwtConsumer.processContext(JwtContext)` is called twice from `DefaultJWTTokenParser`. First (indirectly) during the call to `org.jose4j.jwt.consumer.JwtConsumer.process(String)` and then directly from `DefaultJWTTokenParser` after returning from `process`.

[2019-05-14 12:31] kenfinnigan commented on #52
@sberyozkin @starksm64 Any thoughts?

[2019-05-14 14:42] starksm64 commented on #52
We had tried to think about including JSR-375 support on MP-JWT but its dependency on servlet spec classes was something we could not include in the current MP release due to restrictions on the core dependencies. We can certainly explore including it in smallrye though.

[2019-05-14 14:55] MikeEdgar commented on #52
Sounds good. I can put together a PR to show what I'm thinking to help determine if it aligns with the direction you want to take smallrye JWT.

[2019-05-15 13:23] sberyozkin commented on #52
By the way, I'd like to investigate the option of replacing the factory mechanism with the CDI Producer mechanism to make the way the custom validators are loaded consistent between Quarkus/Thorntail/etc

[2019-05-15 13:27] MikeEdgar commented on #52
I pushed some of the ideas I've been testing for this: https://github.com/MikeEdgar/smallrye-jwt/tree/52_cdi_extension. It also includes the changes from my #55 PR.
Let me know if you have any feedback on the changes in that branch or if it would be easier to put them in a separate PR.

[2019-05-15 16:05] MikeEdgar commented on #52
@sberyozkin - I added my replies. I did have one question regarding the method-level security annotations.

[2019-05-16 13:05] MikeEdgar commented on #52
@sberyozkin, I added an additional commit including the AuthZ filters from Thorntail. Those classes could be removed if we go ahead with these changes here.

Note that I thought the default behavior for those filters should be to throw `ClientErrorException`s so that applications could handle the situation and respond with their own formats, if desired.

I also had the `DenyAllFilter` directly thr

[2019-05-20 10:13] sberyozkin commented on #52
Hi @MikeEdgar, sorry missed your comment.  Sure making it possible to add some application specific logging, etc at the exception mapper level makes sense IMHO, @michalszynkiewicz, FYI.

What I'm not sure about yet if whether the smallrye-jwt should ship its own CDI extension or is it something that should be left up to the integrating runtimes. Especially given that the one you propose will attem

[2019-05-20 12:22] MikeEdgar commented on #52
@sberyozkin - I'm tending to agree with your comments regarding the code for activating smallrye-jwt. I am currently trying to get MP JWT working with an application running in traditional Wildfly and this thread is making me realize that the things I'm proposing may be better placed in a wrapper/shim library intended for use by application developers.

[2019-05-20 15:41] sberyozkin commented on #53
Thanks for spotting [it](https://bitbucket.org/b_c/jose4j/src/a42256ceb7bb6af590958bf79987f06112bd212f/src/main/java/org/jose4j/jwt/consumer/JwtConsumer.java#lines-433). @starksm64 FYI

[2019-05-20 15:55] sberyozkin commented on #53
See #60

[2019-05-20 16:02] sberyozkin commented on #52
Having the mechanism shipped with smallrye-jwt is a nice idea, can probably help to remove Undertow specific code eventually from Thorntail/Quarkus, I'm just not sure yet of the possible side-effects if it will be created inside the smallrye-jwt extension...

[2019-05-20 16:37] sberyozkin commented on #51
@MikeEdgar a PR will be coming shortly

[2019-05-21 10:11] #53 closed

[2019-05-21 15:51] sberyozkin commented on #51
@MikeEdgar FYI, #61

[2019-05-21 16:04] sberyozkin opened #62 "Move the tck module into testsuite/basic similarly to smallrye-rest-client"
Right now the tck module tests are not running the real TCK tests against a server, so the proposal is to move the current tests into a new `testsuite/basic` module and at some later stage a testsuite/tck can be added as well (may be the TCK can be run against WildFly and the authentication mechanism Mike Edgar is working upon, etc).

[2019-05-21 16:04] sberyozkin commented on #62
@starksm64 Scott, does it sound reasonable ?

[2019-05-22 09:50] #51 closed

[2019-05-22 10:56] sberyozkin commented on #52
@MikeEdgar Can you please open a PR ? Your changes look good. As discussed, may be lets split them into two PRs ? The 1st PR would include everything but `SmallRyeJWTAuthCDIExtension` (and I guess the beans.xml and the service loader resource). As I mentioned Quarkus uses its own mechanism, Thorntail - its own extension, may be it all can be consolidated but I'd rather try to do it in the 2nd step

[2019-05-22 14:12] #28 closed

[2019-05-23 11:31] MikeEdgar commented on #52
@sberyozkin - sounds good. I should be able to get this over shortly.

[2019-05-23 11:56] MikeEdgar commented on #52
@sberyozkin - what do you think about keeping the code for the `SmallRyeJWTAuthCDIExtension` but with comments that it is not enabled, and remove the `beans.xml` and the service loader file?

[2019-05-23 15:33] sberyozkin commented on #52
@MikeEdgar +1, lets keep it and perhaps we can generalize it further later on such that it can be used OOB for all the integrations, but indeed lets ship it for now with beans.xml and the loader resource :-) thanks

[2019-05-24 16:04] ekans opened #64 "NullPointerException when loading a public key with a wrong resource name"
Currently I'm working on a project with Quarkus and I was stuck on a NullPointerException that
was just logged on the console output.
[code]
After some debugging it appeared that I just mistyped the resource name in `mp.jwt.verify.publickey.location`.

So I will propose you a little modification to manage this case and avoid the NullPointerException.

[2019-05-24 16:45] #64 closed

[2019-05-24 17:16] sberyozkin opened #66 "KeyLocationResolver base64 decoding breaks pem processing"
As part of my earlier PR #61  I tried to optimize the way base64 processing is done and pushed it out of JWK processing code to the loadContent ones. This broke the PEM processing which I only caught with Thorntail TCK tests.
I propose simply remove the Base64 decoding attempt as it was only meant originally for JWK but JWKs are not usually get Base64 encoded as the whole (but Base64Url encoded if

[2019-05-29 16:05] #66 closed

[2019-05-30 10:25] sberyozkin commented on #52
@MikeEdgar Thank you

[2019-05-30 10:25] #52 closed

[2019-06-13 10:27] sberyozkin opened #73 "Support the custom groups claims"
For example a Keycloak token has its own nested claim for specifying the roles. It would be useful to be able to map it to the MP JWT groups

[2019-06-13 10:54] #50 closed

[2019-06-13 13:54] #73 closed

[2019-06-19 15:40] sberyozkin opened #79 "Make DefaultJWTTokenParser easier to extend"
At some stage the parsers may become pluggable but at the moment the pluggability at the factory level seems sufficient, so for now we can just make it very easy to customize specific parsing aspects for the users offering a custom factory

[2019-06-19 15:42] sberyozkin opened #80 "Introduce a property for listing the required claims"
For example, having `smallrye.jwt.required.claims`=`a,b,c` would fail the verification if at least one of these claims is missing

[2019-06-20 09:58] sberyozkin commented on #79
Closing for now to make it easier in the future to remove the factories mechanism

[2019-06-20 09:58] #79 closed

[2019-06-20 10:10] sberyozkin opened #81 "Change smallrye.jwt.groups.path to smallrye.jwt.path.groups for a more compact and better scoped configuration"
This property was introduced in the current SNAPSHOT so changing it now is fine.
`smallrye.jwt.path.groups` will allow for a more compact configuration when multiple paths have to be supported, example, the paths to the custom `groups` and `sub` claims:
[code]
instead of

[code]

[2019-06-21 15:31] sberyozkin opened #82 "Consolidate the way JWK sets are loaded"
At the moment the JWT sets are dealt with in two different places. First `mp.jwt.publickey.location` is checked if it points to a JWK set resource in `KeyLocationResolver`. Next if an internal `followMpJwt11Rules` is set then it is assumed that instead of  `mp.jwt.publickey.location` `jwksUri` was set and the keys are loaded not in the resolver but in the parser. So we have two ways to point to JW

[2019-06-21 15:34] sberyozkin commented on #82
Good opportunity to fix it now given that we plan to release `2.0.0`

[2019-06-25 10:08] sberyozkin opened #83 "Introduce key format and JWK 'kid' properties and optimize PublicKey creation"
At the moment 'KeyLocationResolver' loads a public key from the external resource on every request. This can be mostly optimized which will need to be done anyway (have a local volatile PublicKey property should do it for PEM or single JWK files).

But if it is a JWK set (which may contain N entries) then the problem is that the incoming 'kid' property can vary in theory so we can't settle on the

[2019-06-25 13:10] sberyozkin opened #84 "Optimize the utility code for setting and calculating the path properties"
Right now `SmallryeJwtUtils` has a nearly identical code for setting the `sub` and `group` path properties and `DefaultJWTTokenParser` has a nearly identical code for resolving those paths.
In the former case both functions can delegate to the internal one, while in the latter the common function can look for a final segment and let the cast be done in the `sub` and `groups` path code branches

[2019-06-25 16:39] sberyozkin opened #85 "Support for KeyStores for keeping the keys"
Using keystores is quite likely the most used option in practice

[2019-06-27 16:10] #83 closed

[2019-06-27 16:11] #82 closed

[2019-06-27 16:12] #81 closed

[2019-06-27 16:19] sberyozkin commented on #84
@radcortez Are you still OK with doing this minor update ? Np at all if you are busy, I can do it as well, minor effort is required

[2019-06-27 16:54] radcortez commented on #84
@sberyozkin sure. if you can wait ill next Monday, I'll do it. (I'll try to make it sooner tomorrow).

[2019-06-28 09:40] sberyozkin commented on #84
@radcortez thanks, I've just pinged you because we discussed this refactoring, so I wanted to avoid doing this update if you were already on it. I might as well move some code around in my next PR and I will update you FYI :-)
Cheers

[2019-06-28 11:26] sberyozkin opened #91 "Not possible to configure JWK set refresh interval"
If it is `HttpsJwks` then it is only possible to configure the refresh interval from Thorntail

[2019-06-28 14:46] #91 closed

[2019-06-28 16:45] sberyozkin opened #94 "Create a testsuite/tck module for running the real TCK suite"

[2019-06-28 16:51] sberyozkin commented on #84
@radcortez FYI, https://github.com/smallrye/smallrye-jwt/pull/93/files, I did some tweaks, and minor updates, did not save very much in the parser, but I suspect the casts can be also optimized, may be some other time :-)
thanks

[2019-06-28 17:50] mcrose opened #95 "error when a add Authorization: Bearer string in curl header"
[code]

[2019-06-28 17:52] mcrose commented on #95
quarkus version 0.17.0

[2019-06-28 21:03] mcrose commented on #95
got the same error when a add **Authorization: Bearer** string to **curl**
[code]

[2019-07-01 10:33] radcortez commented on #84
+1 :)

[2019-07-01 11:27] sberyozkin commented on #95
@mcrose Are you configuring the location as `META-INF/resources/publicKey.pem` ?

[2019-07-01 12:16] sberyozkin commented on #95
@mcrose I've asked for some clarifications at the [Zulip channel](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/security.20configuration.20not.20working).

[2019-07-01 16:17] #62 closed

[2019-07-01 16:18] #84 closed

[2019-07-02 12:48] sberyozkin commented on #95
@mcrose closing this issue as it appears it is caused by the invalid PEM file as discussed at Zulip

[2019-07-02 12:48] #95 closed

[2019-07-03 09:33] antoniomacri opened #96 "Load mp.jwt.verify.publickey.location from current folder"
As stated in [MP-JWT Spec 1.1](https://github.com/eclipse/microprofile-jwt-auth/blob/master/spec/src/main/asciidoc/configuration.asciidoc#relative-path),

However the first case is not working.

In my `microprofile-config.properties`, I have:
[code]
If I put `jwk-signature.json` in the current folder and run
[code]
I get:
[code]

[2019-07-03 10:42] sberyozkin commented on #96
I'll have a look (I'm not sure the file based resource location really scales).

[2019-07-08 11:54] sberyozkin opened #98 "The scope to group claim mapping will not work"
The [scope](https://tools.ietf.org/html/rfc6749#section-3.3) claim, if present, will have the value such as `a b c` as opposed to the expectation it would be an array. So if the mapping of `scope` to `groups` is needed then it won't work. A simple check that if it is a `scope` then extract the roles from a string should do

[2019-07-12 09:03] sberyozkin opened #101 "Review the code issues and address some/all of them"
https://sonarcloud.io/project/issues?id=smallrye_smallrye-jwt&resolved=false

[2019-07-12 13:43] nderwin opened #102 "NullPointerException when claims contain null values"
When the value of a claim is an array that contains a null entry, a NullPointerException is thrown when the value is added to the `JsonArrayBuilder` in `JWTCallerPrincipal`.

It looks like `jsonValue` in `JWTCallerPrincipal.wrapClaimValue()` should be initialized to `JsonValue.NULL` instead of `null`.

[2019-07-15 12:28] aerodc opened #105 "aws Cognito JWT Token claim 'cognito:groups' tranform to claim 'groups'"
Hello Guys,

Do you know how to tell smallrye-jwt to use claim 'cognito:groups' as standard claim 'groups'?

Thanks a lot

[2019-07-15 12:38] #102 closed

[2019-07-15 12:39] sberyozkin commented on #105
Can you type a sample JWT JSON please ?

[2019-07-15 12:46] aerodc commented on #105
@sberyozkin thanks for your quick response,
the sample JWT Json is aws cognito jwt token like:
[code]

[2019-07-15 12:50] sberyozkin commented on #105
@aerodc sure see [this property](https://github.com/smallrye/smallrye-jwt/blob/master/implementation/src/main/java/io/smallrye/jwt/config/JWTAuthContextInfoProvider.java#L170). Can you confirm it works please ?

[2019-07-15 12:52] sberyozkin opened #106 "Improve the documentation"
smallrye-jwt configuration has been significantly enhanced. The documentation needs to reflect it

[2019-07-15 12:56] #98 closed

[2019-07-15 13:51] aerodc commented on #105
@sberyozkin
should I put it like this?
[code]
but I got errors message
[code]

[2019-07-15 14:37] sberyozkin commented on #105
@aerodc just
[code]

[2019-07-15 15:52] sberyozkin commented on #105
@aerodc np, thanks for your question. Please consider asking at the Smallrye [forum](https://groups.google.com/forum/#!forum/smallrye) or at the Quarkus/Thorntail lists if you work with either of these projects

[2019-07-15 15:52] #105 closed

[2019-07-15 17:21] sberyozkin commented on #96
@Ladicek the Thorntail specific code loading from the file: scheme will also be gone after this PR is in

[2019-07-15 21:05] #96 closed

[2019-07-17 09:04] sberyozkin opened #108 "File based keys can not be loaded on Windows and should be checked before the classpath keys"
For example, "file:C:\\opt\\jenkins\\workspace\\thorntail-pull-request-windows\\testsuite\\testsuite-microprofile-jwt/src/test/resources/keys/public-key.pem". The code should simply strip "file:" off as opposed to depending on `URI.getSchemeSpecificPart()` in this case.

[2019-07-24 03:12] MikeEdgar opened #110 "Add configuration to verify and/or require audience claim"
Utilizing `JwtConsumerBuilder.setExpectedAudience(Boolean, String...)`. The logic should align with what is currently done to require/validate the issuer claim.

`smallrye.jwt.verify.audiences` (`Optional<Set<String>>`)
`smallrye.jwt.verify.requireaud` (`Optional<Boolean>`)

Potential configurations if incorporated into specification:
`mp.jwt.verify.audiences`
`mp.jwt.verify.requireaud`

*Edit*: m

[2019-07-26 11:11] MikeEdgar commented on #110
This change is [ready for a PR (830cdd)](https://github.com/MikeEdgar/smallrye-jwt/commit/830cdd1b0d9572e205c5ac13b41088fcee800cf0), but is based on the changes in #109. I'll wait to submit until I hear feedback on that request first.

[2019-07-26 11:42] MikeEdgar commented on #110
I am wondering if the second property `requireaud` would better be implemented using the approach in #80. Thoughts?

[2019-08-06 13:28] sberyozkin commented on #110
@MikeEdgar thanks. Yes, I propose to generalize the `smallrye.jwt.verify.requireaud` around the #80 idea. (and have the existing "mp.jwt.verify.requireiss" deprecated too, `iss` can be a default value for the would be new property)

That said, thinking about it, would it be really be redundant after all, if one requires the verification of the specific audience values, then one already says it is

[2019-08-07 08:52] sberyozkin opened #112 "Support X509 certificates in the PEM format"
The certificates such as [these ones](https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com) should be supported

[2019-08-07 09:22] MikeEdgar commented on #110
I did a bit more thinking about this one, and I really like the idea of a generic approach to required/formatting of claims. I added a comment to eclipse/microprofile-jwt-auth#121 regarding that based on some discussion on the MP mailing list.

I added [this commit](https://github.com/MikeEdgar/smallrye-jwt/commit/5c4c9d60b782651086e5419cb612a1ecded1014f) which includes two general validators, one

[2019-08-07 09:59] MikeEdgar opened #113 "Claim CDI producer methods missing @RequestScoped"
I didn't notice this before because I was directly using `JsonWebToken`s, but the producer methods in `ClaimValueProducer`, `JsonValueProducer`, and `RawClaimTypeProducer` do not specify a scope, which defaults to `@Dependent`. When injecting into `@ApplicationScoped` JAX-RS resources (and also `@Stateless` resources), the claims are not updated per each request.

[2019-08-07 12:34] sberyozkin commented on #110
@MikeEdgar I'm sorry, these changes are covering so many things beyond the original requirement that I'm finding it difficult to understand what is going on. I prefer applying primitive changes given the overall sensitivity of the code. Besides I'd like to avoid Jose4J leaking via JWTContextInfo, it took me awhile to move it out of it earlier when I was doing a Thorntail MP JWT + Keycloak integrat

[2019-08-07 12:40] sberyozkin commented on #113
Returning null with the request scoped methods will require a [custom proxy](https://github.com/smallrye/smallrye-jwt/blob/master/implementation/src/main/java/io/smallrye/jwt/auth/cdi/PrincipalProducer.java#L52), will it work for individual claims ?

[2019-08-07 23:40] crivera commented on #112
+1

[2019-08-08 09:04] MikeEdgar commented on #110
@sberyozkin, I am good with using a simple string comparison rather than regex/pattern. I was inspired by [David Blevin's 5/31/18 response regarding the `requireiss` option](https://groups.google.com/d/msg/microprofile/IVDoXw12qXo/sbv_nd4yAQAJ), which is what led to my comment in eclipse/microprofile-jwt-auth#121.

From a naming perspective, I really think the property names should be as flexible

[2019-08-08 11:39] MikeEdgar commented on #113
I think it will not work for individual claims or those inside of `Optional`.

[2019-08-08 14:19] sberyozkin commented on #113
OK, please experiment.

[2019-08-08 14:20] sberyozkin commented on #113
Will check myself as well with in Thorntail

[2019-08-08 14:58] sberyozkin commented on #110
@MikeEdgar are you proposing to have a `smallrye.jwt.verify.aud` property ? Definitely OK with me, not sure why Mp JWT introduced `smallrye.jwt.verify.issuer` instead of ``smallrye.jwt.verify.iss`. We do follow the actual claim name in the property pattern for the default or custom path claims.

I'm not sure I understand what you suggest in the 3rd paragraph ? Do you mean either a single value or

[2019-08-08 22:46] MikeEdgar commented on #113
I take back what I said about the JSON types. This may only be possible with `ClaimValue`, which I think is fine.

[2019-08-08 23:01] MikeEdgar commented on #110
Yes

Yes - either are possible in the JWT so I think the validation should support that. As far as the _acceptable_ values, I am OK with that being a single value. Applications needing more could always validate multiple values outside of smallrye-jwt.

I am also in complete agreement regarding the validation of complex claims. I think anything this library validates would best be limited to primi

[2019-08-09 10:10] sberyozkin commented on #110
Hi @MikeEdgar

I mean, please pass around List of Strings for the `aud` claim in the JWTContentInfo, that is fine :-), if we do the `aud` validation in smallrye-jwt then you are right, it has to be complete, I don't think I saw often, if ever, more than 1 audience value, but, well, we will be ready for it :-); when I was referring the the non-plural form I only was talking about the property name,

[2019-08-09 11:43] #101 closed

[2019-08-12 07:27] mkouba commented on #113
@sberyozkin Yes, only `@Dependent` producer methods are allowed to return `null`. For normal scopes you would get an `IllegalProductException`.

[2019-08-12 13:07] #113 closed

[2019-08-12 15:46] sberyozkin commented on #113
@mkouba yes, thanks for the confirmation, I recall having to deal with it when updating PrincipalProducer  :-)

[2019-08-13 13:48] aesteve opened #118 "Are JWKS files cached locally?"
Hello and thank you for your work.

I've introduced smallrye-jwt into my application and faced an SSL issue when the first request hit the secured endpoint.

So I'm guessing fetching JWKS from a remote location is lazy. Fine.

Is this put in a cache though ? I'm really concerned about this, since it could really slow down the incoming traffic dramatically, or even fail if JWKS endpoint is down for

[2019-08-13 14:59] sberyozkin commented on #118
Hi @aesteve
The [HttpsJwksVerificationKeyResolver](https://bitbucket.org/b_c/jose4j/src/master/src/main/java/org/jose4j/keys/resolvers/HttpsJwksVerificationKeyResolver.java) uses [HttpsJwks](https://bitbucket.org/b_c/jose4j/src/master/src/main/java/org/jose4j/jwk/HttpsJwks.java) so yes the cache is used.
Thanks

[2019-08-13 15:01] #118 closed

[2019-08-14 08:53] aesteve commented on #118
Perfect!
Thanks a lot.

[2019-08-15 09:02] sberyozkin commented on #94
Perhaps the JAX-RS authentication filter can be stressed for a start though my initial thought was to use the EE security mechanism.

[2019-08-15 10:37] #110 closed

[2019-08-20 12:08] sberyozkin opened #121 "Make mapping from a single string to the groups claim more generic"
At the moment, if a path to the custom claim containing the group values points to a non-array, single string, then it is only processed if it is a well known `scope` claim which has the space separated values.
The Quarkus discussion around the JHipster integration highlighted a limitation of the above approach, since the custom `auth` claim created by JHipster has the [comma-separated values](htt

[2019-08-21 10:41] #108 closed

[2019-08-21 12:46] #121 closed

[2019-08-22 12:13] sberyozkin opened #124 "Optimize KeyLocationResolver"
`KeyLocationResolver` needs more work to clean it up, and remove the `volatile` qualifier from the `verificationKey`

[2019-08-23 11:27] #112 closed

[2019-08-23 11:27] #124 closed

[2019-08-23 11:35] sberyozkin opened #126 "Support the symmetric signature verification"
It can be possible that the the server itself creates and signs the original JWT token to be used later for the cookie-based authentication (ex, JHipster). To access such tokens via MP JWT Api smallrye-jwt needs to optionally support the hash HS* algorithms which are currently blocked and then a user would just set a whitelist property enabling HS*.
The major change would have to be done in `KeyLo

[2019-09-24 13:44] mkouba opened #129 "JWTAuthContextInfoProvider#getOptionalContextInfo() has invalid scope"
The producer method is annotated with `@ApplicationScoped` but returns `Optional` which is declared final. If there is a bean that injects `Optional<JWTAuthContextInfo>` the deployment should fail. See [3.11. Unproxyable bean types](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#unproxyable).

[2019-09-25 12:28] #129 closed

[2019-10-07 20:00] sberyozkin opened #132 "Improve the CDI code"
Right now Thorntail and Quarkus have some CDI code which ideally should be located in smallrye-jwt in the form of `CDIUtils` and may be `AbstractExtension` referring to these `CDIUtils` for Thorntail (and may be WildFly) CDI extension code, as well as any Quarkus code integrating smallrye-jwt be able to reuse the same code.

[2019-10-07 20:09] kenfinnigan commented on #132
Bear in mind we want to try and do things that don't require a CDI Extension to do what is needed

[2019-10-10 11:19] sberyozkin opened #134 "Support HTTPs based PEM files"
It can help with doing the demos for example, given that the MP JWT spec mentions HTTPS but without restricting it to JWKS.

[2019-10-10 11:20] sberyozkin commented on #134
@lordofthejars FYI

[2019-10-10 11:27] wicksim opened #135 "Public key from http (without SSL) on Windows"
We're facing a problem in our local environment when trying to get the public key from a non-SSL-protected server:

It might be possible that this is only a problem on Windows, because of the different PathParser. I think, at `KeyLocationResolver.readKeyContent` it is excepted that `getAsClasspathResource` returns with `null` if it didn't find anything. But the `WindowsPathPatser` instead throws a

[2019-10-17 12:44] sberyozkin opened #137 "Provide a simple JWT generation utility code"

[2019-10-17 13:00] FroMage commented on #137
It would be nice if we could have an API as easy to use as Vert.x (https://vertx.io/docs/apidocs/io/vertx/ext/auth/jwt/JWTAuth.html#generateToken-io.vertx.core.json.JsonObject-io.vertx.ext.jwt.JWTOptions- and https://vertx.io/docs/vertx-auth-jwt/java/#_loading_keys)

[code]

Since we already have the `mp.jwt.verify.publickey[.location]` configuration, we should add a similar config setting for the

[2019-11-01 14:24] sberyozkin opened #140 "JWK with no kid from a single key JWK set should be accepted"
CC @lordofthejars

[2019-11-04 17:14] #134 closed

[2019-11-04 17:14] #135 closed

[2019-11-04 17:14] #140 closed

[2019-11-06 16:19] #132 closed

[2019-11-07 11:01] FroMage commented on #137
Ping @sberyozkin we really need this :)

[2019-11-07 17:17] aaronanderson commented on #41
The new [Quarkus OIDC extension](https://quarkus.io/guides/security-openid-connect-web-authentication) is available and works fine for me. I think OIDC authentication flows are outside the purview of the MP-JWT specification.

[2019-11-07 17:24] aaronanderson opened #143 "Support elliptic curve ES256 public keys"
I followed the instructions for [AWS ALB OIDC authentication](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/listener-authenticate-users.html) and configured Quarkus/SmallRye to read in the JWT from an HTTP header in the MP application.properties file:

[code]
For whatever reason AWS resigns the JWT with their own key and they use Elilptic Curve based encryption and not RSA. W

[2019-11-07 21:10] FreifeldRoyi opened #144 "Allow unverified JWT"
Hi,
I [asked in MP-JWT github](https://github.com/eclipse/microprofile-jwt-auth/issues/132) about a way to configure `no verification` for the JWT. It might be something proprietary so I'll try asking here too. Is it possible to inject an un-verified JWT? I had to manually parse (and verify the auth header) instead of just using `@Inject` like I think should be possible.

[2019-11-08 11:16] gastaldi commented on #137
Could https://github.com/AdamBien/jwtenizr help here?

[2019-11-08 13:34] sebastienblanc commented on #137
@gastaldi Well it could a source of inspiration, it can not be used as it since it's really an utility tool running as an executable jar. The other source of inspiration could be  https://github.com/quarkusio/quarkus-quickstarts/blob/development/security-jwt-quickstart/src/test/java/org/acme/jwt/TokenUtils.java

[2019-11-10 17:12] starksm64 commented on #143
For reference, info on the signature and header from:
https://docs.aws.amazon.com/elasticloadbalancing/latest/application/listener-authenticate-users.html#user-claims-encoding

The JWT signature is ECDSA + P-256 + SHA256.
The JWT header is a JSON object with the following fields:
[code]

[2019-11-11 10:38] sberyozkin commented on #137
@FroMage @gastaldi @sebastienblanc I will look into it shortly. It has to be done carefully as we can then try to move it into MP JWT. Stay tuned, and thanks for your patience

[2019-11-11 11:13] sberyozkin opened #146 "Add a maximum time to live property"
The tokens have to be short-lived in general, this is why, in OIDC/OAuth2 flows, refresh tokens with the longer life span exist, to refresh the ATs and thus minimize the theft risk.

JWT has an expiry claim but it may be set for a long time in the future. Sometimes to simplify the client code issuing the tokens. As such there has to be a property which can block the tokens which have been around f

[2019-11-11 13:01] sberyozkin commented on #144
@FreifeldRoyi What I can suggest is to register a custom [JWTCallerPrincipalFactory](https://github.com/smallrye/smallrye-jwt/blob/master/implementation/src/main/java/io/smallrye/jwt/auth/principal/JWTCallerPrincipalFactory.java), similarly to the way [it is done](https://github.com/thorntail/thorntail/blob/master/fractions/keycloak-microprofile-jwt/src/main/java/org/wildfly/swarm/keycloak/mpjwt/d

[2019-11-11 13:04] sberyozkin commented on #144
@FreifeldRoyi if we update `smallrye-jwt` to allow for the unverified tokens then it won't pass any security review, even though it would be done with some configuration, and as in your case, you can be assured enough that it won't be a problem. So I'll close this issue, but I'll wait till you confirm the customization works in principle for you

[2019-11-12 11:44] sberyozkin commented on #137
I'll get in some utility code for the next release and worry about a spec-ready builder API later

[2019-11-19 06:43] FreifeldRoyi commented on #144
Is there any preference doing that instead of implementing a parser in Jax-rs filter and adding to request context?

[2019-11-19 17:07] sberyozkin commented on #144
@FreifeldRoyi No, not really, if all you need is to use MP JWT API, then indeed just convert it into `JsonWebToken` and set it as a new (JAX-RS) security context

[2019-12-03 13:26] sberyozkin opened #150 "KeyLocationResolver should cache PublicKey from HTTPS JWK set"
Right now it is not cached because Jose4J keeps refreshing the set, but we can still cache if a kid property is set and if the verification fails then recalculate the key.

[2019-12-05 16:33] sberyozkin commented on #137
Have been a bit swamped elsewhere but this effort is a priority for me

[2019-12-09 16:55] sberyozkin commented on #137
PR is here: #153

[2019-12-10 15:07] sberyozkin opened #154 "Provide JsonWebKeySet and JsonWebKey API/SPI"
This API will be used to represent the JWK keys and provide conversions to javax.security keys which then can be used to sign the tokens for example, etc

[2019-12-19 17:07] sberyozkin commented on #137
Another iteration round:\
https://github.com/smallrye/smallrye-jwt/pull/158

[2020-01-13 13:41] #137 closed

[2020-01-15 13:34] sberyozkin commented on #146
@MikeEdgar Hi Mike, if you can find an hour or so, can you please do a small PR for this issue ? (`ttl` property which if set would block the tokens with the longer `exp` value). I'd like to send a committer nomination and it would help if there was some recent PR.

[2020-01-15 17:39] sberyozkin commented on #154
Let me close this one and review where to do it a bit later

[2020-01-15 17:39] #154 closed

[2020-01-15 22:46] spbolton opened #164 "smallrye.jwt.path.groups and smallrye.jwt.path.sub does not work with namespaced keys containing "/""
Auth0  does not automatically add the sub and groups claims but custom claims can be added.   https://auth0.com/docs/api-auth/tutorials/adoption/scope-custom-claims  Following OIDC specification that advises ensuring custom claims are made globally unique they added a hard requirement that  custom claims to be created with a URI based namespace.  Unfortunately this means that the custom claim for

[2020-01-16 15:28] MikeEdgar commented on #146
@sberyozkin - I'll try to take a look at this soon.

[2020-01-16 15:48] acoburn opened #165 "Add DPoP proofing mechanism"
Now that custom token schemes are supported, this issue is to discuss adding a DPoP verifier to the smallrye-jwt code. We could also discuss implementing this as a quarkus extension, but I'd like to propose implementing the verifier at this layer.

The approach that I'd like to propose would be implemented as a `i.s.j.auth.jaxrs.DPoPAuthenticationFilter` class. This filter would have a `@Priority(

[2020-01-16 22:56] sberyozkin commented on #164
@spbolton Hi, option 1 seems simplest and most practical. I'm presuming you mean it can become a regular expression. Please have a look if you can find some time. thanks

[2020-01-16 22:58] sberyozkin commented on #146
@MikeEdgar Thanks; your earlier contributions have been of major help, so that would've been enough as far as the committer status is concerned :-), but if you can get another PR done that would be quite perfect, cheers

[2020-01-16 23:05] sberyozkin commented on #165
@acoburn Hi, thanks for this proposal.
FYI, these smallrye-jwt JAX-RS filters are currently not used in Quarkus/Thorntail, ex, `quarkus-smallrye-jwt` does not have any JAX-RS dependencies. However, indeed lets talk here, as having a filter at this level would be good. In fact we can have a JAX-RS filter with the bulk of the DPoP code being in the abstract class, which the authentication mechanisms

[2020-01-17 15:28] sberyozkin commented on #165
@acoburn I've read the description, it is very clearly typed, and makes sense IMHO.
The option 3 may also make sense because MP JWT allows to support HTTPS based JWK sets, but starting with the first 2 options makes sense.
My only suggestion at this stage is to implement most of this code in the abstract class, similarly to `AbstractBearerTokenExtractor`, where this abstract class would have the a

[2020-01-17 15:38] acoburn commented on #165
@sberyozkin thanks for the feedback. Using an abstract class, as you propose, makes a lot of sense, and that should be reasonably straight-forward to implement.

[2020-01-18 18:40] MikeEdgar commented on #146
@sberyozkin - after taking a small look at this, it seems to me that by specifying a TTL limit, the user is requiring that `exp` - `iat` <= TTL. Is that the intent (versus `exp` - current time)? If so, that seems to imply that in those cases the `iat` is a required claim.

[2020-01-20 16:31] MikeEdgar opened #168 "Migrate to Jakarta EE dependencies"

[2020-01-20 18:21] #146 closed

[2020-01-20 21:00] sberyozkin commented on #41
I'm going to close this one for now

[2020-01-20 21:00] #41 closed

[2020-01-21 14:27] sberyozkin opened #170 "JWTClaimsBuilder should have a json() method"
In order to log a JSON representation of all the claims about to be signed/encrypted

[2020-01-22 11:07] sberyozkin commented on #170
Returning a map would be a real burden for the implementers (the values can come in a variety of types, the implementation converts them to its own types, hence the ambiguity of what this Map would return, and a Map would not give much value anyway IMHO, the API is about creating a token fast, with a Map one would need to iterate just to log and it would still nont show the real content which will

[2020-01-22 14:01] #168 closed

[2020-01-23 15:08] sberyozkin opened #173 "Improve KeyLocationResolver and Defaut token parser logging"
Right now it logs things like `Failed to read PEM`, etc, so if a key is JWK then there will be few `Failed` messages in the log and we've found today in Quarkus is is confusing.

Additionally the parser should have individual `InvalidJwtException` and `UnresolvableKeyException` catch blocks, as right now it says the token is invalid if the key can not be resolved.

[2020-01-23 18:42] #170 closed

[2020-01-24 22:24] sberyozkin opened #174 "Add sign(), innerSign() and encrypt() overloads accepting a key location"
So that the users can pass a key location without having to set a property or load the key manually

[2020-01-29 11:19] sberyozkin commented on #164
@spbolton Hi, if you have some time then please go ahead with a small PR, I propose to follow your step 1 idea, but simply use the double quotes for the claim names containing the forward slashes.
I'd like to have a fix for it going in in the next release due to next week, so let me know please if you have some time for it.

[2020-01-29 16:35] #143 closed

[2020-01-29 16:35] #173 closed

[2020-01-29 16:36] #174 closed

[2020-01-29 17:31] sberyozkin opened #177 "Mike Edgar - committer nomination"
@MikeEdgar - Hi Mike, can you please give me a favor and confirm here if you accept your successful committer nomination ? I'm sorry I could not find any other way to contact you :-).

This issue will be closed once you reply.

CC @kenfinnigan

[2020-01-29 17:52] MikeEdgar commented on #177
@sberyozkin - I accept.

[2020-01-29 18:36] sberyozkin commented on #177
@MikeEdgar - Thanks

[2020-01-29 18:36] #177 closed

[2020-01-30 10:35] sberyozkin commented on #164
@spbolton I have something nearly ready for `quarkus-oidc`, so I may as well create a PR for smallrye-jwt. Will CC you

[2020-01-30 15:00] sberyozkin commented on #164
@MikeEdgar FYI, since you've mentioned the namespace-qualified claims in the MP JWT issue

[2020-01-31 15:05] omgbanana commented on #144
Hello!

There was a whole conversation about this (https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/MP-JWT.20validation.20skip). The thing is at some point You do not need to verify the token, but You still want to get the roles out of it and use the quarkus-jwt for authorization purposes.

It makes it hard to use in bigger solutions that have the validation done before it reaches

[2020-01-31 15:47] sberyozkin commented on #144
@omgbanana this is why I'm keeping this issue open :-). Custom factory path should be good enough but it requires a bit more thinking how to do it right, I'll try to prioritize on it soon

[2020-02-03 12:35] #164 closed

[2020-02-03 12:37] sberyozkin commented on #85
As part of this issue I will introduce a key type property which will allow to optimize the key loading further

[2020-02-03 13:01] darranl commented on #85
+1 to adding the key type property.  FYI we do have some code within the WildFly Elytron project for detecting the type of a keystore, if there was interest we could move this over to a SmallRye project to make it easier to re-use.

A couple of additional points that may be worth considering.
- Obviously the store itself needs a password to open it, but each entry could also have a different passw

[2020-02-04 17:43] sberyozkin commented on #85
@darranl Hi Darran, thanks for the comments, sorry for as delay,

I think it may be better for me to create a separate light-weight PR after all, introducing this property only with only few minor code touches, so that you can review and then we can proceed next.

Sounds interesting. Lets have an initial support first then double check, not sure yet if expecting the users to set the key store type

[2020-02-04 17:46] darranl commented on #85
[Obviously the store itself needs a password to open it, but each entry could also have a different password so if multiple entries are to be used this may need to be represented in the config

Can we say that access to the public keys only requires an alias ? That way it would work the same way it works for a JWK set, the token kid would be used to select a given public key, while the smallrye.jw

[2020-02-04 17:53] darranl opened #179 "java.security.Provider contention"
I have just been performing some profiling with SmallRye JWT within WildFly, the test has been pretty primitive hitting the server hard with simple HTTP requests containing a JWT token.

TBH most of the results look as I would expect, most of the time was spend in the operations relating to the handling of the signatures and as that is all that was happening to the requests that is as expected.

H

[2020-02-04 18:03] sberyozkin commented on #85
@darranl may be we will have a key type hint or figure out in the code if it is a cert or no, same way we try a pem certificate now. But for JWT generation API we'd need a private key password so we'll support it in time for sure :-)

[2020-02-05 11:01] sberyozkin commented on #179
Hi @darranl I'm not sure individual `Signature` objects are thread safe but [this code](https://github.com/RbkGh/Jose4j/blob/master/src/main/java/org/jose4j/jws/BaseSignatureAlgorithm.java#L127) shows that a Provider instance can be passed in.

So we can have initialized Providers statically, right now `RS256` (and also `ES256`) are supported, and pass the right one to the Jose4j verification code

[2020-02-05 11:04] sberyozkin commented on #179
But it would likely require tweaking the parser code a bit for the `algorithm` property be checked which might involve some double parsing. Perhaps a more effective approach is to have a Map of algorithm to `Provider` in `org.jose4j.jws.BaseSignatureAlgorithm` but it would require a jose4j PR which is doable too

[2020-02-05 11:05] darranl commented on #179
Just finishing off some other tasks and will come and take a closer look - but +1 the actual Signature may not be re-usable but there may be some options to optimise how it is obtained to avoid hitting the synchronized code on each request.

[2020-02-05 11:27] sberyozkin commented on #179
Ignore it please, we set a whitelist algorithm to a pre configured value, so it would be safe to pick up a statically initialized `Provider` from a Map with only two pairs (RS256, ES256 the keys) and pass it along :-)

[2020-02-19 14:15] vankofalcon opened #184 "Documentation?"
Where is the project documentation? I can't find it on the official web site like the messaging docs https://smallrye.io/smallrye-reactive-messaging/
Where I can find the full list of configuration options?

[2020-02-20 16:53] sberyozkin commented on #184
@vankofalcon I agree, but let me close this issue as a duplicate of #106.

I will get the configuration properties documented for the next release

[2020-02-20 16:55] sberyozkin commented on #184
@vankofalcon Most of the properties are listed [here](https://quarkus.io/guides/security-jwt#additional-smallrye-jwt-configuration). But they will be documented here as well...

[2020-02-20 16:55] #184 closed

[2020-02-23 16:00] #106 closed

[2020-02-26 14:10] sberyozkin opened #188 "Cookie name property should default to MPJWT"
The spec recommends recognizing `MPJWT` name. Thus if the header property is set to `Cookie` then `MPJWT` cookie will be checked by default

[2020-02-28 11:02] sberyozkin commented on #188
Right now it is defaulted to `Bearer`. We need to decide if we should keep it or use an opportunity (move to `2.1.0`) and replace with `MPJWT` or simply check both `Bearer` and `MPJWT` cookie names :-). The last or 2nd options look good to me.
CC @MikeEdgar @darranl

[2020-02-28 11:54] MikeEdgar commented on #188
@sberyozkin - which version of the spec are you referring to? I didn't see that recommendation in the current PDF or the asciidoc on `master`.

[2020-02-28 13:58] sberyozkin commented on #188
@MikeEdgar Oh, I was looking at Scott's PR. The section related to the cookies has been reverted by David:
https://github.com/eclipse/microprofile-jwt-auth/commit/96cfcd0bd4b4a280388a1e0e20987965a654c708

[2020-02-28 15:43] andreas-eberle opened #193 "Why is JWTCallerPrincipalFactory not injected into DefaultJWTParser"
In `DefaultJWTParser`, one field (`JWTAuthContextInfo authContextInfo`) is injected, but the other (`JWTCallerPrincipalFactory callerPrincipalFactory`) isn't. The `callerPrincipalFactory` is generated via reflection code in the `JWTCallerPrincipalFactory.instance()` method (see https://github.com/smallrye/smallrye-jwt/blob/08970ef586acb9414f0ebfcdb3fc8566e28b22cc/implementation/src/main/java/io/sm

[2020-02-28 16:20] andreas-eberle commented on #144
For those looking for the code of how to get an unverified `JsonWebToken` object from the token string, this code should do the trick:

[code]

[2020-02-28 17:00] sberyozkin commented on #193
@andreas-eberle I think this issue is invalid. factory is the first point of entry

[2020-02-28 17:07] andreas-eberle commented on #193
Sure, when using this library in a non CDI environment. However, if you use it with CDI, you cannot inject a different `JWTCallerPrincipalFactory` into `DefaultJWTParser` if your implementaton requires injection. Is there a good way to combine both?

[2020-02-28 17:29] sberyozkin commented on #193
But it is the wrong relationship. The parser is not supposed to know what the factory is

[2020-02-29 08:22] omgbanana commented on #144
And how will this inject it into the quarkus-smallrye security context for authorization?

[2020-03-02 09:12] andreas-eberle commented on #193
I don't understand your argument. In the current code the `DefaultJWTParser` knows more about the factory than in my proposed changes.

To clarify: In the current code, the `DefaultJWTParser`
* Gets injected the `JWTAuthContextInfo` => a dependency injection framework is required to be able to use the `DefaultJWTParser` or the `JWTAuthContextInfo` has to be injected manually via the new constructo

[2020-03-02 14:29] andreas-eberle commented on #144
It won't. There currently does not seem to be an option to skip verification (afaik). Just wanted to share this code on how to get a JWT parsed, since I also first had to find a way to do it and thought it might help you, although it doesn't solve your problem.

[2020-03-05 15:37] andreas-eberle commented on #193
@sberyozkin: Can you found the time to elaborate more on your thoughts on this topic?

[2020-03-11 10:49] sberyozkin commented on #188
Let me close this one for now

[2020-03-11 10:49] #188 closed

[2020-03-19 19:22] #94 closed

[2020-03-20 16:42] sberyozkin opened #204 "Stabilize TCK test runs"
@radcortez, I'm just opening the issue because it failed with another PR,
[code]
May be something needs to be adjusted to align ii with the way `smallrye-config` TCK runs for example ?
I'll rebuild another PR in meantime, next week would be fine, enjoy the weekends :-)

[2020-03-20 16:50] radcortez commented on #204
The VM is just crashing on Semaphore. Not sure why... It is strange because in the original TCK PR it run without any issue.

In Github Actions, everything seems to be building ok:
https://github.com/smallrye/smallrye-jwt/actions

[2020-03-20 16:58] sberyozkin commented on #204
@radcortez the PR itself is good, it did not crash the 2nd time, so looks like something is not stable in semaphore. I've checked semaphore/smallrye-config and see no difference in the way it is set up...

[2020-03-20 17:23] radcortez commented on #204
Yes, we had similar issues with Semaphore in the past. We are not sure what causes this, but it is not a configuration issue.

[2020-03-20 17:29] sberyozkin commented on #204
@radcortez Sure, looks like `semaphore/smallrye-jwt` space needs to adapt to the new test requirements :-)

[2020-03-20 17:32] radcortez commented on #204
Well hopefully, we will drop Semaphore and just use GH Actions :)

[2020-03-23 11:04] radcortez commented on #204
Actually , I think we can do that move. We completely drop Semaphore in SmallRye Config. I think the project is Semaphore is still active but I will shut it down today.

[2020-03-26 11:19] radcortez commented on #204
I have no idea why Semaphore sometimes build properly and some other times just fails. The issue is with a JVM crash. I suspect to be related with the JVM version, since it is using a really old version of JDK 8 (8u181) and there is no way to update it.

I think we can disable the TCK in Semaphore (and still get the result run from GH Actions) with #208, until we completely transition to GH Action

[2020-03-26 11:20] radcortez commented on #204
I also suggest to switch the status check in the project configuration from Semaphore to GH Actions. I can do it, but I don't want to do it without your knowledge @sberyozkin :)

[2020-03-26 11:45] radcortez commented on #144
The factory solution should work.

Unfortunately, it seems that Quarkus instantiates the `DefaultJWTTokenParser` directly, instead of using the factory:
https://github.com/quarkusio/quarkus/commit/08777bbe4cd3700bbad19c4d1e4984c8112d664d#diff-4dabe1f5911b23eb33fd6188eefe39c2

@sberyozkin what do you think?

[2020-03-26 11:50] radcortez commented on #80
I'm going to pick this up.

[2020-03-30 11:41] radcortez opened #211 "Use SmallRye Converters for JWT Claims conversions"
Conversion code from SmallRye Config was extracted to https://github.com/smallrye/smallrye-converters.

The plan is to implement a prototype to replace conversion code in SmallRye JWT and use the Smallrye Converters project.

This should help to address:
https://github.com/eclipse/microprofile-jwt-auth/issues/100

[2020-03-31 08:19] sberyozkin commented on #165
@acoburn Hi, have you had a chance to do some prototype ? thanks

[2020-03-31 11:54] sberyozkin commented on #204
@radcortez sorry, has been side-tracked a bit. It all sounds good, Just to clarify, before the transition is complete, I'll still be able to release the next smallrye-jwt via  the semaphore ?

[2020-03-31 12:15] radcortez commented on #204
With https://github.com/smallrye/smallrye-jwt/pull/208 yes.

The only issue is when Semaphore VM randomly crashes with the TCK. By removing the TCK run from Semaphore (but still relying on GH Actions to report the run), we should be ok.

[2020-03-31 16:57] #204 closed

[2020-04-01 14:43] acoburn commented on #165
@sberyozkin thanks for the ping. I have done some initial work on this. I'll try to wrap that up and submit as part of a PR

[2020-04-02 08:45] moyshe opened #215 ""exp" claim implementation not compliant with RFC7519"
According to RFC7519's chapter 4.1.4., "exp" field is optional in JWT. In Smallrye implementation if the claim is missing token is considered invalid. It would be nice to have an ability to configure how the library behaves. ATM, I can see in the code some hints, that it's impossible to skip "exp" validation:
[code]
[code]
One of available solutions can be found right underneath the code above:
[c

[2020-04-02 11:12] sberyozkin commented on #215
@moyshe I think this issue has been discussed before. RFC7519 is a general purpose spec, MP JWT is built around it and has different requirements - we don't want to open an option for unlimited tokens be used.
Why would a token in your case have no `exp` claim ? Any OIDC/OAuth2 provider I can think of will put it in the token, and it is strightforward to add it to the token even if the token is se

[2020-04-02 11:14] sberyozkin commented on #215
You can set it some very distant value, max long if it is of no concern in your case (though smallrye-jwt can optionally restrict now such tokens too but only optionally)

[2020-04-02 11:17] moyshe commented on #215
I'm currently dealing with provider that aims to be 100% compliant with RFC, hence the question. I understand your point of view and don't want to push you. I just wanted to check whether it's an overlook or a conscious decision.

[2020-04-02 11:19] sberyozkin commented on #215
Hi @moyshe but that RFC makes all the claims optional as far as I recall :-), except for a few

[2020-04-02 11:23] sberyozkin commented on #215
@moyshe I was wrong, all of the registered claims at https://tools.ietf.org/html/rfc7519#section-4.1 are optional :-), including an issuer, audience, issued at. The question - is there any technical reason behind omitting `exp` ? If the only reason it is omitted just because the text says it is optional then IMHO this provider should instead add it

[2020-04-02 11:24] radcortez opened #216 "Move documentation to the Antora structure"
This will allow for the documentation to be published in SmallRye website.

[2020-04-02 11:28] moyshe commented on #215
I fully agree, but then why is there a way to skip issuer verification?
[code]

[2020-04-02 11:34] sberyozkin commented on #215
@moyshe This is a legacy code, there were some discussions at the MP JWT to support skipping the issue validation and the code (which was still in Thorntail at a time) was prototyped around it. But MP JWT does require an issuer be present. I should probably deprecate this option, similarly to the `exp`, I can't imagine why would the issuer would not bet set.

[2020-04-02 11:38] sberyozkin commented on #215
We don't document this property (skipping the issuer) by the way

[2020-04-02 11:56] moyshe commented on #215
Ok. As I said, I don't want to push you to anything, so I'll drop the issue. I appreciate the discussion though, thanks. Best regards!

[2020-04-02 11:56] #215 closed

[2020-04-02 12:22] sberyozkin commented on #215
@moyshe Thanks, and no problems at all, it is OK for the users to argue in favour of their proposals :-)

[2020-04-02 12:24] #80 closed

[2020-04-15 09:48] #216 closed

[2020-04-17 14:44] sberyozkin commented on #165
@acoburn Nice, would be good to see it, please take your time

[2020-04-20 15:04] bobbyphilip opened #221 "Documentation for the property smallrye.jwt.encrypt.key-location"
I see this property being described in the Quarkus project, but dont see it being documented here.
Is this a standard property for smallrye-jwt?

[2020-04-20 17:23] radcortez opened #222 "Consistent Injection combinations of Claims"
There are multiple ways to inject values from a `JWT`. From the latest MP JWT Spec, the following injection combinations must be supported (using `Long` as an example):

[code]

There is also valid for other types like `Boolean`, `String` and corresponding `JsonValue` types. In #218, we realized that SmallRye JWT is not covering all cases and should be more consistent in how injection is done for

[2020-04-20 17:42] radcortez commented on #221
Hi @bobbyphilip thanks for the heads up.

Yes, you can find them in `JwtEncryption` and `JwtSignature`. But, yes we need to document them in our docs as well.

[2020-04-21 11:16] sberyozkin commented on #222
@radcortez What is the problem with having the claims converted to JsonValue/Array/Object and then provide the conversion when needed ? This conversion from `JsonValue`/etc would have to be done for the custom claims like `Address` anyway, as opposed to the users guessing how it is represented internally before writing their address converter

[2020-04-21 11:29] radcortez commented on #222
No problem at all. Right now the missing piece is conversion from the type stored in the claimSet (usually JsonValue) to another supported type when injection uses a ClaimValue wrapper.

For instance, you can see conversions being done here:
https://github.com/smallrye/smallrye-jwt/blob/b8adfd2e5e91d95419e4c9f0c6b10ee71ea27d3a/implementation/src/main/java/io/smallrye/jwt/auth/cdi/RawClaimTypeProdu

[2020-04-21 11:42] sberyozkin commented on #222
@radcortez can we keep the injection type [available in the constructor](https://github.com/smallrye/smallrye-jwt/blob/4f33aba47c7d177976ae5573e933ed2128426eea/implementation/src/main/java/io/smallrye/jwt/auth/cdi/ClaimValueWrapper.java#L37) and do the conversion from JsonValue/etc in `ClaimValueWrapper.getValue` ?

[2020-04-21 11:51] radcortez commented on #222
Here is the code that I've written to fix the issue previously:
https://github.com/radcortez/smallrye-jwt/blob/primitives-full-fix/implementation/src/main/java/io/smallrye/jwt/auth/cdi/ClaimValueWrapper.java

I believe I've done that. Just an additional method to unwrap the type in the constructor. And then `JsonUtils.convert` to pass the type to convert in `getValue`.

[2020-04-21 16:25] sberyozkin commented on #222
@radcortez Cool, told you it would be easier for me to grok the changes if we go the smaller PR way :-).
So it all looks fine, I believe we can discuss/optimize the way the conversion of the claim set to JsonValue/etc in a separate issue. Your changes specific to this look fine, please follow up with a PR when you get a chance, thanks

[2020-04-22 10:15] radcortez commented on #222
Done in #226.

[2020-04-22 11:39] #221 closed

[2020-04-24 14:01] #222 closed

[2020-05-01 18:58] kenfinnigan opened #227 "Implement i18n logging and messages"
Follow the procedures defined in https://github.com/smallrye/smallrye-parent/wiki/I18N-Messages-and-Logging as part of implementing https://github.com/smallrye/smallrye-parent/issues/102 for all SmallRye projects

An example usage can be found in https://github.com/smallrye/smallrye-common

[2020-05-03 17:12] sberyozkin commented on #193
@andreas-eberle Sorry for a delay. Looking more carefully into your PR...

[2020-05-04 12:20] sigmunau opened #228 "Refetch mp.jwt.verify.publickey.location when receiving unfamiliar kid"
The OpenID Connect core specification says in section 10.1.1 that users of the jwks_uri should re-retrieve the key set when it is asked to verify a signature with a unknown kid. https://openid.net/specs/openid-connect-core-1_0.html#RotateSigKeys smallrye-jwt does not do this, leading to `smallrye.jwt.jwks.refresh-interval` seconds (default 60) of failed requests each time the openid connect server

[2020-05-06 09:31] ejba commented on #227
Hi, can I pick this one?

[2020-05-06 09:33] radcortez commented on #227
Yes.

[2020-05-06 09:34] radcortez commented on #227
BTW, nice to nice some other Portuguese people around :)

[2020-05-06 09:41] ejba commented on #227
@mcserra's fault! 😄

[2020-05-06 10:10] radcortez commented on #227
Thanks for contributing. Let me know if you need any help.

[2020-05-06 10:15] ejba commented on #227
Do you have a list of project codes to be used?

["projectCode should be 5 characters and start with SR to represent SmallRye"](https://github.com/smallrye/smallrye-parent/wiki/I18N-Messages-and-Logging#general-requirements)

[2020-05-06 10:32] darranl commented on #227
For this project SRJWT sounds suitable.

[2020-05-07 16:42] sberyozkin commented on #228
It may be due to the HTTP Cache-Control header

[2020-05-07 16:44] sberyozkin commented on #144
It now (on master) deals with the injected `JWTParser`.
Once #194 is merged it will all work

[2020-05-08 13:22] #228 closed

[2020-05-18 14:45] #227 closed

[2020-05-19 13:55] gustf commented on #126
Hi, do you have any information if and when this will be prioritized?

[2020-05-21 19:13] radcortez opened #243 "Consider Refactor JWTAuthContextInfoProvider"
We should consider to clean up `JWTAuthContextInfoProvider`.

- Provide static names for configs
- Replace Optionals with default values
- Maybe remove all the CDI injection and call Config API programatically? Might even get some performance improvement

[2020-05-21 20:50] radcortez opened #244 "Fix DecryptionKeyLocationResolverTest test"
In mpjwt12 branch.

[2020-05-22 13:30] #244 closed

[2020-05-22 14:40] sberyozkin commented on #243
What will it give us ?

for 3.0.0 this can indeed be done where possible

Not sure it is worth it, it is initialized once, and not affecting the requests. Ease of testing may be, but we can just easily add few more static factory methods. There are cons and pros but we do it everywhere really, in Quarkus, here, elsewhere, I'd rather us spending time on something else...

[2020-05-22 15:05] sberyozkin commented on #243
I think your idea of delaying the conversion was very interesting, this is where we can definitely get some minor performance improvement

[2020-05-28 11:07] sberyozkin commented on #126
@gustf Hi, I'll try to look into it asap

[2020-05-28 11:43] gustf commented on #126
@sberyozkin awesome! 👍

[2020-06-01 21:02] ejba commented on #243
Hi, can I help you with this task?

[2020-06-10 14:19] darranl opened #253 "Update TCK to use Galleon provisioned server and use WildFly Elytron"
By using Galleon it should be possible to provision a server with the minimal required dependencies.

The current unzip approach will also be making use of PicketBox which is deprecated ready to be removed in a future release, additionally we already know of PicketBox incompatibilities with later Java versions which will not be addressed.

[2020-06-11 16:44] sberyozkin commented on #179
Hi @darranl I've looked through the Jose4j code, right now there is no way to bypass it.
I'm planning to do some other Jose4j PR, so I suppose going forward we can customize Jose4 `ProviderContext` with `Provider` instance, etc, if it will help to completely eliminate the sync

[2020-06-11 20:26] ejba commented on #243
Hi guys! I don't know if you still interest on doing this but I have taken the chance with that (just for fun).

[2020-06-11 23:40] radcortez commented on #243
Thanks @ejba :)

Let us have a look!

[2020-06-12 08:58] ejba commented on #243
It's not ready for review yet, still have to do some tests. Also, I am not sure that I understood your idea.

[2020-06-12 14:05] ejba commented on #243
@radcortez I will need you help here, if you don't mind. :)

Once CDI injection removed, where should it call the Config API? In getters?  How can I measure this expected performance improvement?

[2020-06-14 00:19] rodrigohsb opened #259 "Dynamic secret key"
Hey,

I'm trying to implement password reset flow, and in that flow, I need to have a unique secret key for each request to build a one-time link to prevent multiple requests with the same token.

Something like this:

[code]

Is there any way to achieve this?

[2020-06-15 12:47] sberyozkin opened #260 "Support JWKs with the encoded `x5c` X509 certificate"
A Quarkus user is asking about supporting `x5t` thumbprints, the initial step is to support the encoded `x5c` content to extract the public verification key out of it.

[2020-06-15 14:34] sberyozkin commented on #259
@rodrigohsb Hi, can you clarify please where you'd like the builder API to help ?  `sign` accepts `SecretKey`. Each token will have a unique `jti` identifier as well. What am I missing ? thanks

[2020-06-15 15:14] sberyozkin commented on #243
@ejba I'm not sure this needs to be done, if it needs to be done at all.

As I said in the other PR, I'm finding it easy to look at the concrete property name

This will be good for `3.0.0` otherwise it can break some Thorntail code which checks Optional getters

As commented above, I'm not sure it is needed. The performance gains if any will be negligible, using the programmatic API is more verbo

[2020-06-15 17:52] sberyozkin commented on #243
Hi @ejba @radcortez,
May be we can start with getting rid of optional now, but I'd really do it for MP JWT 1.2 branch, Thorntail does check a few optional getters, but some other extensions might do it too. Having an `Optional` with a default value is obviously not cool :-), there is some legacy code there, I kept copying and pasting for awhile too before @MikeEdgar has stopped me :-), but IMHO th

[2020-06-15 18:10] rodrigohsb commented on #259
@sberyozkin Hi, sorry if wasn't clear enough.

I'm trying to `sign` with a `SecretKey` like this snippet using for quarkus:

[code]
Apparently, this works fine:

`eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL3F1YXJrdXM6aW8vdXNpbmctand0LXJiYWMiLCJzdWIiOiJyb2RyaWdvLmhhdXNAZ21haWwuY29tIiwiaWF0IjoxNTkyMjQzNTc5LCJleHAiOjE1OTIyNDcxNzksImp0aSI6IlVkWVlUTDQ5R25ZZlFBZjZqRHh2UEEifQ.z8JaMWKsB4t_e

[2020-06-15 19:25] ejba commented on #243
Hi @sberyozkin, thanks for your feedback.

I have been working on this but didn't the PR because I felt a bit lost with the description once I don't have the big picture of the impacts and consequences behind it. Could you have a look at what I did? If you see something that worths the trouble, I can extract that and make a dedicated PR of it. [link](https://github.com/ejba/smallrye-jwt/commit/0ea

[2020-06-16 11:10] gustf commented on #126
@sberyozkin any news regarding this issue?

[2020-06-16 12:16] sberyozkin commented on #259
Hi @rodrigohsb Oh I see, thanks for the clarification. This is very important, have a simple parsing API built around `JWTParser`. Right now, one has to use Jose4J directly to verify the token  with the symmetric key:
[code]

I'll add a utility code anyway, as I'm not sure yet how to change the interface, but for now, please use a function like this one...

[2020-06-16 12:28] sberyozkin commented on #243
Hi @ejba
Thanks for another massive effort, but I'm sorry, the only thing that IMHO we should start from right now is to replace something like

[code]

with

[code]

against https://github.com/smallrye/smallrye-jwt/tree/mpjwt12.

IMHO the pervasive changes to do with the constants and removing the injection altogether are not required at this point of time.

Thanks

[2020-06-16 12:33] ejba commented on #243
Ok, I can do that.
What will happen with the getters? Do you plan to keep the return type as optional?

[2020-06-16 14:43] rodrigohsb commented on #259
@sberyozkin Thank you very much for your explanation.. I appreciate it! 😄
It worked! 👏

[2020-06-16 14:43] #259 closed

[2020-06-16 15:32] sberyozkin opened #262 "Provide an API to verify/decrypt token directly in the service code"
Right now the only way to verify the tokens directly from the service code with smallrye-jwt is to depend on its MP JWT server-side verification/decryption ( from 3.0.0) mechanism:

[code]

More options should be available to verify with the secret/private keys:
[code]

[2020-06-16 15:32] sberyozkin commented on #259
@rodrigohsb Thanks, I've opened #262

[2020-06-22 11:26] sberyozkin commented on #262
I was working on it for the last few days last week and should get the PR ready soon. I have to push the decryption code from the MP JWT 1.2 branch into the main branch as we also have the cases for encrypt/decrypt in Quarkus (@radcortez was suggesting it earlier but I was not keen to get the `mp.jwt` namespaced properties in the master, so for my PR I will add a smallrye specific property).

[2020-06-23 15:30] sberyozkin commented on #243
@ejba Hi, sorry, missed it, no, lets get rid of them as well for all the properties which have a default value

[2020-06-24 11:38] sberyozkin opened #266 "Impossible to set custom JWE headers after innerSign"
Minor issue to do with `JwtSignature` `innerSign` methods returning `JwtEncryption` thus making it impossible to customize the JWE  encryption headers, spotted it while working on the test in the other branch. The fix is straightforward: return `JwtEncryptionBuilder` (which extends `JwtEncryption`) instead - this is totally backward compatible

[2020-06-25 14:46] #266 closed

[2020-07-03 20:33] #262 closed

[2020-07-07 10:27] sberyozkin commented on #126
@gustf Sorry, missed your ping. The initial support will be available in the form in `smallrye-jwt-2.2.0` directly from the injectable `JWTParser`, but more work will need to do a solution which will work for both verification and decryption symmetric keys.

[2020-07-08 09:28] sberyozkin opened #275 "Github actions should include a javadoc task for PR builds"

[2020-07-17 14:08] sberyozkin opened #285 "Support JwtTokenMapper"
Here is a code proposed by @andreas-eberle in his Quarkus PR but this interface should be part of smallrye-jwt:
[code]

[2020-07-19 12:22] gustf commented on #126
ok thanks!

[2020-07-19 21:34] abutic opened #286 "Scheme(s) should not be discared when alternate header is used"
Is it intentional not to check for scheme(s) when alternate header is used or is it a bug?

When default  `Authorization` header is used, `smallrye.jwt.token.schemes` property is properly taken into account, but when alternate header name is used, for instance like this:
`smallrye.jwt.token.header=x-forwarded-authorization`
you're then completely discarding `smallrye.jwt.token.schemes` property.

[2020-07-20 13:16] sberyozkin commented on #286
@abutic Hi
OK, the notion of the authentication `scheme` is relevant in the context of `Authorization` because it is known that its value is structured as `AuthScheme AuthValue`.
If it is not `Authorization` then the assumption is it contains the value directly, we don't know the value format of the custom headers.
The only exception is `Cookie`.

Now if we have
[code]

then indeed `smallrye-jwt`

[2020-07-20 13:40] abutic commented on #286
@sberyozkin Hi, thanks for the quick reply!

Yes, my guess was that you're making an assumption that alternate header contains the value directly, that's why I didn't categorically say it was a bug. :-) I guess there's no standard dealing with it, so it can go either way.

I can speak for myself: my expectaion was, after reading the docs, that header value would be treated the same way, no matter

[2020-07-20 16:08] sberyozkin commented on #286
I'm not 100% sure, but it feels that in this specific case, `X-Forwarded-Authorization` is only one specific case of `X-Forwarded-*` which are dealt with in https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/ForwardedParser.java. Handling it there would offer a much more generic support for such a case (example, with `quarkus-

[2020-07-20 21:01] abutic commented on #286
@sberyozkin Are you the man in charge of that? I mean, is it your decision whether it will be supported in smallrye-jwt or not? It seems to me that the possibility of using Quarkus+SmallRye-JWT behind Google Endpoints v2 out-of-the-box, without header modifications made by filters, makes a pretty strong case.

The case is even stronger if we take into account that changes needed for all this are f

[2020-07-22 22:35] aicglabs opened #289 "Custom Claims Not Supported - With URL Namespaces - Auth0, etc. specifications"
There appears to be logic in [https://github.com/smallrye/smallrye-jwt/blob/ba7197e550865770d32fb2890e6ebd488e9534b7/implementation/src/main/java/io/smallrye/jwt/auth/principal/DefaultJWTTokenParser.java](url) that we believe is preventing namespaced claims from being accepted as the alternate to the groups claim.

Attempting to implement Auth0, which only allows custom claims with namespaces, the

[2020-07-23 00:42] MikeEdgar commented on #289
@aicglabs - try putting the property value in quotes. I.e.

`smallrye.jwt.path.groups="http://mysite.com/claims/userdetails"`

[2020-07-23 09:55] sberyozkin commented on #289
From the [documentation](https://github.com/smallrye/smallrye-jwt/blob/master/doc/modules/ROOT/pages/configuration.adoc) of this property: `Use double quotes with the namespace qualified claims.`
It is also mentioned [here](https://github.com/smallrye/smallrye-jwt/blob/master/implementation/src/main/java/io/smallrye/jwt/config/JWTAuthContextInfoProvider.java#L228).

[2020-07-23 15:04] aicglabs commented on #289
Thanks for the response. That's a negative.

We've reviewed the documentation, and have just now triple checked your suggestion. It does not work, thus the issue.
We believe the reg-ex in the aforementioned class ([https://github.com/smallrye/smallrye-jwt/blob/ba7197e550865770d32fb2890e6ebd488e9534b7/implementation/src/main/java/io/smallrye/jwt/auth/principal/DefaultJWTTokenParser.java](https://gi

[2020-07-24 00:35] MikeEdgar commented on #289
@aicglabs - the String in the example doesn't have quotes enclosing the value, such as:

`String claimPath = "\"http://mysite.com/claims/userdetails\"";`

You've done the same in your properties file?

[2020-07-24 13:33] sberyozkin commented on #289
@aicglabs We've had several Quarkus users confirming it works, and indeed, as @MikeEdgar pointed out, your test configuration is not correct. See for example https://github.com/smallrye/smallrye-jwt/blob/master/testsuite/basic/src/test/java/io/smallrye/jwt/TestTokenWithGroupsPath.java#L69, there should be another similar test around somewhere. IMHO this issue is invalid.
Thanks

[2020-07-24 13:34] sberyozkin commented on #289
@aicglabs Here is the test resource: https://github.com/smallrye/smallrye-jwt/blob/master/testsuite/basic/src/test/resources/TokenGroupsPath.json#L18

[2020-07-24 13:46] sberyozkin opened #290 "Add JWT token sign/innerSign/encrypt methods accepting a secret key as String"
We have `sign(String keyLocation)`/etc with the String parameter being the key location, but when the users need to secure a token using the symmetric algorithm like `HS256` they need to create `SecretKey` manually which is easy enough to do but it would be good if they can just do

`Jwt.upn("Alice").signWithSecret(generatedPassword);`
`Jwt.upn("Alice").innerSignWithSecret(generatedPassword).encry

[2020-07-24 14:22] sberyozkin commented on #290
Also, as part of this issue, investigate a relax-key-signing approach as is done for the verification

[2020-07-24 15:56] aicglabs commented on #289
@sberyozkin @MikeEdgar Thanks for your inputs, it took both of your insights to prove and disprove this. I have it working now

I re-ran the test resource posted by @sberyozkin and noticed the only test scenario provides only one path on the namespace URL (i.e.: https://idp/groups). I hadn't tried this before as we were following the best practice Auth0 specification of two path extensions on the

[2020-07-24 16:22] sberyozkin commented on #289
Hi @aicglabs thanks, can you please follow up with another test which will resolve this issue ? I actually did do the test locally awhile back when dealing with a Quarkus user query but forgot to add it here.

[2020-07-26 11:52] sberyozkin commented on #289
@aicglabs having said it all, let me close this issue as it is not a bug, sorry for the noise. But indeed, your PRs to improve the tests/docs etc will be very welcome :-)
Cheers

[2020-07-26 11:52] #289 closed

[2020-08-18 08:50] #286 closed

[2020-08-23 17:45] #144 closed

[2020-08-23 17:45] #193 closed

[2020-08-23 17:52] sberyozkin commented on #144
See the documentation, `Custom Factories`, how to inject custom factories which will bypass the verification,
https://github.com/smallrye/smallrye-jwt/blob/master/doc/modules/ROOT/pages/configuration.adoc

[2020-08-27 10:36] #126 closed

[2020-08-27 10:59] #290 closed

[2020-08-28 10:13] #260 closed

[2020-10-15 11:12] sberyozkin opened #321 "Use JWK `kid` when generating the tokens if no `kid` is already set"

[2020-11-10 11:04] sberyozkin opened #327 "JWT builder NPE against the key generated with keytool"
See https://stackoverflow.com/questions/63971028/quarkus-mp-jwt-how-to-generate-the-key-pair

[2020-11-17 18:18] sberyozkin commented on #275
it already has `javadoc:javadoc`

[2020-11-17 18:18] #275 closed

[2020-11-24 12:36] sberyozkin opened #332 "Improve jwt-auth modularization before 3.0.0 release"
The old `implementation` module has just been split on the master branch into `common` , `jwt-build` and `jwt-auth` (which is effectively the old `implementation` minus the common utility and JWT builder API).
`jwt-auth` still depends on `jwt-build` to keep the existing expectations and it also ships the JAX-RS code which is not used by all the integrators.
The proposal is to modularize `jwt-auth`

[2020-11-25 18:15] sberyozkin commented on #321
I've spent quite a bit of time on it, and had a fix, but  then realized them same should apply to the algorithm property which JWK is expected to contain so I've decided not to rush with this trying to fix this issue for 2.4.0

[2020-11-25 18:17] sberyozkin opened #335 "Consider supporting PKCS12 PEM key formats"

[2020-11-26 11:19] #327 closed

[2020-12-04 17:45] radcortez opened #337 "Update MP Config dependency to 2.0."
It requires a RESTEasy release (4.6.0) to run the TCK, because MP Config 2.0 has breaking changes that affect RESTEasy.

[2020-12-08 22:20] sberyozkin opened #341 "Add JwtClaimsBuilder.expiresIn(Duration)"
Right now `JwtClaimsBuilder` has 2 expiresAt methods accepting an absolute expiry time (milliseconds, or `Instant`).

Adding similar methods letting users set a relative time, effectively a token lifespan time (similarly to the existing config property) will make it simpler to configure in some cases

[2020-12-08 22:36] sberyozkin opened #342 "Add a method for generating a correct SecretKey"
A good number of projects (Jose4J itself, [JJWT](https://github.com/jwtk/jjwt#jws-key-create) and others) have the utility code for generating the keys. Jose4J itself will enforce that the key length meets the algorithm constraints so the users are not able to use the wrong key size, and Jose4J would report the required length, but having a correct key upfront would be useful.

This feature is not

[2020-12-10 14:51] sberyozkin opened #344 "Use a crypto-strong method for generating `jti`"
Right now it is generated for the new tokens without SecureRandom so `SecureRandom` or just `UUID` should be used instead.
Without it a possibility of 2 different tokens having the same `jti` is still small but it should be much smaller.

[2020-12-10 15:11] sberyozkin opened #345 "Create smallrye-jwt-parser-reactive module"
We should have a new module which will offer `Uni` responses for `JWTParser` and `JWTCallerPrincipalFactory` which will help Quarkus users write better reactive applications involving smallrye-jwt

[2020-12-10 15:23] sberyozkin commented on #32
Now that we have split the implementation into sub-modules, the solution to this issue becomes clearer:
- introduce `smallrye-jwt-introspection` module which will have
- CDI `Alternative` `JWTCallerPrincipalFactory` which will Mutiny Vert.x WebClient to introspect a token
- If the introspected token is active and it is JWT then `DefaultJWTTokenPrincipal` is returned
- if it is not JWT then it is c

[2020-12-11 13:06] emecas opened #347 "[3.0.0-RC1] PS256 is not supported while building with old JDK8"
I am getting the following error when building using an old version of Java8 (JDK 1.8.0_112)

@sberyozkin has indicated [here](https://github.com/eclipse/microprofile-jwt-auth/issues/227#issuecomment-742862081) that PS256 is not a required algorithm to support for MP-JWT 1.2 and only RS256, ES256 are required signature algorithms.

[code]

[2020-12-11 13:20] radcortez commented on #347
Can you try with a more recent JDK 8 update?

[2020-12-11 14:03] sberyozkin commented on #347
@emecas this particular test is not related to MP JWT 1.2 for all Java versions and we do not set the expectations that it will work for all the Java 8 versions around :-). What is your expectation around this test ?

[2020-12-11 14:06] sberyozkin commented on #347
I'd like to avoid starting checking Java 8 update versions but also see why this failing test, due to the fact TCK tests are skipped, may cause some confusions. I think I'll just make it optional going forward - check if the related signature algorithm can be loaded and only then run the test

[2020-12-11 14:12] sberyozkin commented on #347
Hi @emecas I've removed `for MP-JWT 1.2 ` part from the subject, otheriwise it can read as if the requirement varies depending on the Java 8 version

[2020-12-11 15:05] sberyozkin commented on #347
@emecas I should further clarify, this test is only related to a JWT builder API which is currently not part of MP JWT, but as I said I'll make this test optional anyway...

[2020-12-11 15:46] emecas commented on #347
My original expectation was just testing and passing the build locally with my existent configuration.

Then once noticed the particular issue, my expectation moved to figuring out the why and fixing it in a dependencies level or prerequisites.

Once validated that the only difference respect to the GitHub checks was the minor version of the `JDK8` and after your clarification related to `PS256` a

[2020-12-11 15:59] sberyozkin commented on #347
@emecas OK, I see, thanks, see #348 - that will make things clearer, so as you can see there, if we can determine that Java supports the `PS256` natively (with the name recognized by Java) then we run the test as is else we install BC.
So even with the older Java8 it should work.
It is unrelated to MP JWT but the test itself will become more robust :-)

[2020-12-13 21:49] #347 closed

[2020-12-13 21:56] #344 closed

[2020-12-14 09:55] sberyozkin commented on #341
#351 fixed it

[2020-12-14 09:55] #341 closed

[2020-12-17 17:26] commodis opened #360 "Property resolution within EARs"
Greetings!

I was wondering how the property resolution within EARs is supposed to work.

Example:

<pre>
ear
  L  ejbjar
      L microprofile-config.properties
  L  war1
      L microprofile-config.properties
      L public.pem
  L  war2
</pre>

I configured `war1` to use `smallrye-jwt` via `@LoginConfig` and it is working by defining the properties `
mp.jwt.verify.publickey.location` and `
mp.jw

[2020-12-18 09:50] darranl commented on #360
This sounds like an issue to raise in the WFLY Jira project to be considered further.

Presently however our SmallRye JWT integration has just focused on securing a single deployment so in the context of an ear only one war is supported, the ambiguity here is the second war is getting picked up for JWT as well even though it contains no configuration of it's own - we possibly should be leaving tha

[2020-12-18 13:15] knutwannheden opened #362 "Allow to disable token validation"
In the context of a Quarkus application I would like to use the `quarkus-smallrye-jwt` extension and thus `smallrye-jwt` to set the Quarkus `SecurityIdentity` based on a JWT token passed as a HTTP header. However, since the JWT token will already have been validated (in our case by Azure API Management) I would like to disable the validation performed by `smallrye-jwt`, while still have the Quarku

[2020-12-18 13:18] knutwannheden commented on #362
If it would be more appropriate to report this against Quarkus, I can open an issue there and close this one.

[2020-12-18 16:46] sberyozkin commented on #362
@knutwannheden sure, see https://quarkus.io/guides/security-jwt#custom-factories, please register a simple bean and do there what is required

[2020-12-18 16:49] sberyozkin commented on #362
This is also documented in the smallrye-jwt docs here, so I think we can close this issue

[2020-12-18 17:05] knutwannheden commented on #362
Yes, thanks for the pointer. As it apparently appears to be a not too uncommon use case, I wonder if it wouldn't make sense with a config property. But I will report that as a feature request against Quarkus then.

[2020-12-18 17:33] sberyozkin commented on #362
@knutwannheden we've discussed a lot before, see, smallryw-jwt is all about the verification, so adding a first class property just to skip it is not really great IMHO; asking the users to add a super light-weight factory is not much :-), but the important point here is that that user takes the responsibility beyond just setting a property - which can become brittle - dev vs production mode proper

[2020-12-18 17:36] sberyozkin commented on #360
Hi @commodis as Darran said this is a WildFly concern how to manage smallrye-jwt across multiple wars, smallrye-jwt itself is deployment agnostic. Can you please move this issue to WildFly security GitHub ?

[2020-12-18 18:07] knutwannheden commented on #362
Thanks for the explanation. At the Quarkus level it is of course also about parsing and setting the `SecurityIdentity`, but I get your point.

[2020-12-18 19:43] commodis commented on #360
Sure, could you point me to the right repository? I only found the Wildfly Security Group but I am not aware which repository it should be moved to

---

https://github.com/wildfly-security

[2020-12-21 11:20] sberyozkin commented on #360
@commodis Np, we'll try to do it with Darran when he is online :-), thanks for opening all the issues, please don't hesitate to open them here if you are not sure if they specific to WildFly or not and we can discuss and decide, thanks

[2020-12-21 11:35] sberyozkin opened #364 "Support a new-token.audience property for re-signing JWT tokens"

[2020-12-21 16:06] sberyozkin commented on #332
@radcortez FYI, I'm planning to fix this issue before 3.0.0 as well

[2020-12-22 09:55] knutwannheden commented on #362
Sorry for reopening this issue, but I looked at the workaround documented in the Quarkus guide, which you referenced, and have some concerns with it, which I don't have a satisfactory solution for.

If the token gets parsed directly using jose.4.j, the returned principal is missing some claims, which SmallRye JWT would otherwise set. Specifically I am referring to the `raw_token`, `sub`, and `grou

[2020-12-22 13:47] sberyozkin commented on #362
@knutwannheden I'll push the code which follows the token verification to the abstract parser - you'd then inject the relevant configuration properties in your factory and set JWTAuthContextInfo and pass it to these parser

[2020-12-22 15:32] knutwannheden commented on #362
@sberyozkin Sounds great, thanks!

[2020-12-24 17:09] sberyozkin commented on #243
Hey, I'll do a quick update early next year to remove the Optionals where the default values are available.

[2021-01-05 14:42] darranl commented on #360
Hello @commodis this is the Jira project to use to report issues against WildFly - https://issues.redhat.com/browse/WFLY - I would suggest raising it as a feature request for now as the present integration is intended for single web applications.

[2021-01-05 17:45] sberyozkin opened #369 "JWTParser should have `verifyWithSecret` and `decryptWithSecret` shortcuts"
It has `verify(String token, SecretKey key)` and `decrypt(String token, SecretKey key)` so letting users to avoid creating SecretKey would be useful; this is to sync with the similar JWT Build API shortcuts

[2021-01-06 21:33] SoniaZaldana opened #372 "Error code should be 500 when a public key cannot be extracted from the mp.jwt.verify.publickey.location property"
Hi all,

I am currently working on resolving the WildFly issue [WFLY-13164](https://issues.redhat.com/browse/WFLY-13164). I noticed that `JWTHttpAuthenticationMechanism` sends the 401 status code when validating a request throws an exception.

However, when this exception is caused by failing to extract a public key from the `mp.jwt.verify.publickey.location` property (see `DefaultJwtTokenParser`

[2021-01-07 11:34] sberyozkin commented on #372
Hi @SoniaZaldana Looks like the issue is related to the corrupted key inlined with `mp.jwt.public.key` property - let me have a look

[2021-01-07 11:36] sberyozkin commented on #372
I think what happened is that since we started supporting EllipticCurve keys the early conversion to `RSAPublicKey` became delayed which can explain the regression; I'll try to add a test and a fix today

[2021-01-07 15:48] sberyozkin commented on #372
Hi @SoniaZaldana and @darranl

I've been looking at this issue for a while today - and have come to a conclusion that maybe a problem lies at the container level which translates `ParserException` ? `smallrye-jwt` itself sits above the HTTP transport, it only reports the exceptions :-).

For example, if we look at [DefaultJwtTokenParser](https://github.com/smallrye/smallrye-jwt/blob/2.3.1/implemen

[2021-01-07 15:50] sberyozkin commented on #372
Maybe the problem is still at the smallrye-jwt level, let me look further

[2021-01-07 16:08] sberyozkin commented on #372
No, `KeyLocationResolver` already has a unit test verifying `UnresolvableKeyException` is reported if the location is wrong and I've just tried locally a unit test with the wrong content (which would come from `mp.jwt.public.key`):

[code]

This one also passes for me.
So @SoniaZaldana, can you please check what happens on the container end when exception is reported ?

[2021-01-07 19:22] SoniaZaldana commented on #372
Hi @sberyozkin thanks for looking into it :-)

For context, WildFly is using the `2.0.13` tag for smallrye-jwt. This is due to some refactoring that happened in the next tag. Therefore, I am limited to testing my container with this tag.

As you mentioned, essentially nothing has changed in the `DefaultJwtTokenParser`. It wraps an `UnresolvableKeyException` in a `ParseException`. I can confirm I s

[2021-01-07 22:30] sberyozkin commented on #372
Hi @SoniaZaldana Oh great, nice investigation, thanks; yes, definitely, lets do it. Are you OK with opening your first `smallrye-jwt` PR ? That would be great. I suppose at this stage it would be fine if you could confirm the fix against WildFly - perhaps in the future we can also have this mechanism tested locally - I think Darran has started on this path with this pending PR: #256

[2021-01-07 22:31] sberyozkin commented on #372
Oh I can open a PR against the current code and you'd cherry-pick or just copy it as we've split and moved the modules a bit

[2021-01-08 13:22] sberyozkin commented on #372
@SoniaZaldana FYI, in smallrye-jwt 3.0 I'll focus on initializing the local key early - this is what was done in 2.0.13 I think, and I'll do for both inlined keys and the keys in the file resources.
But the `JWTHttpAuthenticationMechanism` fix you have proposed is a good one - it will ensure 500 is returned consistently. The consistency problem is related to the case where we have for example a lo

[2021-01-08 14:31] SoniaZaldana commented on #372
Hi @sberyozkin, I can work on submitting the PR. Thanks for all the help!

[2021-01-10 20:03] sberyozkin opened #374 "JWTHttpAuthenticationMechanism has to return HTTP 500 in case the key can not be resolved when decrypting signed tokens"
@MikeEdgar:

[code]

[2021-01-10 20:05] #372 closed

[2021-01-12 12:53] sberyozkin commented on #374
#375 fixes it

[2021-01-12 12:53] #374 closed

[2021-01-12 12:54] sberyozkin commented on #360
@commodis Hi, OK. let me close this issue now, please follow @darranl 's advice (sorry if you already did :-) )

[2021-01-12 12:54] #360 closed

[2021-01-12 13:44] sberyozkin commented on #369
It has already been implemented - there are overloads taking String as a key

[2021-01-12 13:44] #369 closed

[2021-01-13 08:30] commodis commented on #360
Thanks for pointing me there @darranl
The link to the issue is https://issues.redhat.com/browse/WFLY-14288

[2021-01-13 09:54] #364 closed

[2021-01-13 09:55] sberyozkin commented on #362
@knutwannheden I've just moved this code which updates the claims into public `PrincipalUtils`

[2021-01-13 09:57] #362 closed

[2021-01-13 10:01] sberyozkin commented on #243
Hey @radcortez @ejba Let me close this one - #379 did some clean up so I suppose we can resolve it and target some concrete improvements with the new issues :-), thanks

[2021-01-14 10:20] sberyozkin opened #382 "Support Firebase certificate store for verifying the tokens"
[Firebase certificate store](https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com) uses a JSON format which is a map between what appears to be a certificate thumbprint and the certificate;
We've had a 2nd user query about the firebase token authentication in Quarkus.
smallrye-jwt already provides an option to resolve the certificates for the token resolution by

[2021-01-14 11:03] sirfak commented on #382
putting the error logs here if it helps

_2021-01-14 21:57:08,732 DEBUG [io.qua.sma.jwt.run.aut.MpJwtValidator] (vert.x-eventloop-thread-0) Authentication failed: io.smallrye.jwt.auth.principal.ParseException: Failed to verify a token
        at io.smallrye.jwt.auth.principal.DefaultJWTTokenParser.parse(DefaultJWTTokenParser.java:123)
        at io.quarkus.smallrye.jwt.runtime.auth.MpJwtValidator$

[2021-01-14 13:15] #332 closed

[2021-01-15 23:00] sberyozkin commented on #243
Somehow #379 did not get in onto RC2 so I'll make RC3 early next week - it shows `Merged` but I might've accidentally just closed it without merging - this is just a clean up so not a big problem

[2021-01-17 21:11] kekbur opened #387 "Hardcoded algorithm prevents creating EC signatures"
Calling `JwtSignature.sign()` fails when `smallrye.jwt.sign.key-location` points to a PKCS8 encoded elliptic curve private key. This happens because calling `sign()` eventually calls `KeyUtils#decodePrivateKey`, with a hardcoded algorithm identifier `RS256`.

**Steps to Reproduce**

Let there be a resource file `private.pem` generated as follows:

`openssl ecparam -name prime256v1 -genkey -noout |

[2021-01-18 17:25] sberyozkin commented on #387
Hey @radcortez I think this one warrants a quick `2.4.3` since `3.0.0` would need to have Mp Config 2.0 => hence some delay for Quarkus, I'll do a PR soon

[2021-01-19 00:16] radcortez commented on #387
Sure.

[2021-01-19 10:56] sberyozkin commented on #387
@kekbur another workaround (or even a valid alternative) is to use a JWK format - give it a try please

[2021-01-19 16:18] kekbur commented on #387
@sberyozkin Thanks for the suggestion, but I prefer to use whatever openssl can generate, because everybody has it installed. I couldn't even figure out what would be the most obvious and trusted JWK command line utility.

[2021-01-20 22:36] sberyozkin opened #391 "JwtClaimsBuilder fails to enforce the correct type of directly supported claims"

[2021-01-20 22:37] sberyozkin commented on #391
Quarkus user, instead of `Jwt.subject("1")` typed `Jwt.claim(Claims.sub, 1)`, passing a number and it caused an error...

[2021-01-21 12:57] #387 closed

[2021-01-23 18:40] huw0 opened #395 "Fix configuration key location inconsistency"
[code]

Configuration keys with dashes should be replaced with dots, making them all consistent and ensuring that smallrye is consistent with microprofile convention.

Probably I'm not the first person who has copied and modified the verify configuration and then spent some time debugging why the sign config appears to be unset.

Probably desirable to support old config keys for awhile to prevent

[2021-01-23 18:45] huw0 opened #396 "Allow signing key to be loaded directly from config"
Currently it is possible for the verify key to be passed in as a string using `mp.jwt.verify.publickey`.

However the same is not possible for encrypt and sign keys which only support `smallrye.jwt.encrypt.key-location` and `smallrye.jwt.sign.key-location`.

This makes sense for config that is bundled with an application since clearly this would not be good practice. It also works well in k8s (and

[2021-01-24 17:45] sberyozkin commented on #395
I agree, I think I recorded this task somewhere, may be in the current MP JWT PR (which will need to be refreshed in due time).
We can do it for 3.0.0 Final I guess

[2021-01-24 17:47] sberyozkin commented on #396
@huw0 It is intentional - I did not want to let the users to keep the private keys inlined in the configuration - one can't even replace it with some location. So I'll close it shortly, thanks

[2021-01-25 08:56] lebetz opened #397 "Behave identically for http jwks url"
At the moment the code behaves different depending if jwks url is configured as http or as https.

In our case we are running the jwks provider in the same Kubernetes tenant as the backend. The provider is not able to provide the keyset over an https url. And because the traffic keeps inside the tenant it is also not needed for us from a security perspective.
But if I configure the keyset location

[2021-01-25 11:27] #396 closed

[2021-01-25 11:32] sberyozkin commented on #397
@lebetz Not really, for now it is based on Json4J `HttpsJwks`. I guess we can do a forced refresh for a JWK set fetched from the `HTTP` url too

[2021-01-25 22:09] #337 closed

[2021-01-26 12:25] sberyozkin opened #399 "Setting default enum values requires using the underscore"
@radcortez Hi Roberto, I've been wondering if it is a `smallrye-config` issue.

So, for example, if I set a decryption algorithm property to `RSA-OAEP` then it does not work, I have to use `RSA_OAEP`. This was actually reported by a Quarkus user.
But in Quarkus itself, if I set some enum property as for example `id-token` then it would match the enum `ID_TOKEN`.

I guess `Quarkus` ships a converte

[2021-01-26 18:44] radcortez commented on #399
Hum, If I remember correctly, in the case of enum we just try to call the enum `valueOf`, so the exact value should work. Let me have a look.

[2021-01-27 15:39] #243 closed

[2021-01-27 15:39] sberyozkin commented on #243
that was merged again

[2021-01-28 00:17] radcortez commented on #399
Ah, you are right. Forgot you can't really use `-` in the static enum name :D

In SR Config, we do an exact match, so we cannot even match a value like `RSA-OAEP`, because is not a valid enum. Quarkus adds a specific converter to handle these cases: https://github.com/quarkusio/quarkus/blob/c76ecfc0bb34112de0c7c6e3737056dc843e4b17/core/runtime/src/main/java/io/quarkus/runtime/configuration/Hyphena

[2021-01-28 01:10] #399 closed

[2021-01-28 18:52] sberyozkin commented on #399
@radcortez sounds good, thanks

[2021-01-29 15:48] sberyozkin opened #404 "Deprecate inner-sign option where non-secured JWT is encrypted"
I've been confident it has been already done - may be I've only set this task in the currently stale MP JWT PR.

So `.innerSign().encrypt(...)` supports an option where no signing keys have been configured in which a non-secured JWT is encrypted. This option is formally available in the JOSE space, but it is one option too many for this API, and it makes the point of inner-sign lost , and is not d

[2021-01-29 16:35] sberyozkin commented on #395
I'll deprecate it in 2.4.x so that we can drop the old properties in 3.0.0 final

[2021-02-01 11:05] #391 closed

[2021-02-01 22:08] #395 closed

[2021-02-01 22:08] #404 closed

[2021-02-02 11:13] #397 closed

[2021-02-12 13:59] sberyozkin opened #419 "Support the removal of the existing claims in JwtClaimsBuilder"
I've been thinking about it for a while.
JWT build API is about creating a token fast - it is not the goal of this API to pass the claims builder around so that some functions can check on some current claim values, or remove some of them, etc.
Reusing the same instance of JWTClaimsBuilder is also not really encouraged, but it can't be prevented and as such there should be a way to remove a given

[2021-02-12 14:11] sberyozkin opened #420 "Make the order in which JWT build configured claim values are applied configurable"
For example we have `smallrye.jwt.new-token.audience` - if this property is set then its value will be picked up if no `aud` is set.

But take this example where we want to resign but also set a new audience (and also new issuer):
[code]

Unfortunately the new audience and issuer won't be picked if the audience and the issuer are already set - issuer for ex is nearly always set in JWT tokens. The

[2021-02-23 13:13] darranl commented on #342
I know this came up in the earlier discussions, I am actually in the middle of something similar in WildFly but for a completely different purpose - one thing I am questioning is if we should really prefer a KeyFactory over populating the SecretKeySpec manually in case a user is using some form of cerified cryptographic provider.

[2021-02-24 10:58] #342 closed

[2021-02-24 19:56] SoniaZaldana opened #427 "DefaultJwtTokenParser#parseClaims Exception Handling"
Hi all,

This issue relates to #372. We just upgraded WildFly to version 3.0.0 for smallrye-jwt, so I am finally able to test [WFLY-13164](https://issues.redhat.com/browse/WFLY-13164) with the fix I submitted. However, I realized we might have missed a small case in the exception handling for [DefaultJwtTokenParser#parseClaims](https://github.com/smallrye/smallrye-jwt/blob/master/implementation/jw

[2021-02-24 22:29] sberyozkin commented on #427
@SoniaZaldana Hi, yes, IMHO it makes sense, please open your next PR :-)

FYI, since the location can point to a JWK set it may not be possible to report the exception early since with more than one key we don't know which one will be matched, but I suppose for non-JWK sets or sets with a single key only we can indeed revisit the idea of reporting the invalid key exception early. Something to do i

[2021-02-26 14:42] sberyozkin commented on #419
This needs some more thinking

[2021-03-01 15:25] #427 closed

[2021-03-01 15:47] #420 closed

[2021-03-01 16:02] sberyozkin commented on #427
@SoniaZaldana @darranl I've updated the milestone to `3.1.0` as this fix, even though it is totally correct IMHO, requires a minor version update - I'll send an email later on to the forum, cheers

[2021-03-07 04:28] dentonmwood opened #435 "Support Accessing JWT in Aspect Classes"
From the MP-JWT spec:

I was hoping this meant all request-scoped beans, and not just REST endpoint classes underneath an Application class. We use AOP to provide security, and when I try to inject the JsonWebToken class into a request-scoped aspect class to process the user, I get Weld exceptions about unsatisfied dependencies. Injection into request-scoped REST classes deploys without Weld error

[2021-03-08 13:57] sberyozkin commented on #435
@dentonmwood Hi, TCK test exists which asserts an `ApplicationScoped` endpoints can get `JsonWebToken` injected.
@darranl @SoniaZaldana  - should this issue be moved to WildFly ?

[2021-03-09 12:15] sberyozkin opened #437 "Distinguish between unresolvable and invalid keys"
If we have a JWK key set, for example, coming from Keycloak and a token has a `kid` which does not match any JWK in this JWK key set then an `UnresolvableKeyException` will be thrown and - `500` reported in `jwt-http-mechanism`.
But this is a case of `401` - keys are available and valid - but the token is effectively invalid.
Some thinking is required how to do it cleanly

CC @darranl @SoniaZaldan

[2021-03-10 17:12] sberyozkin commented on #435
@dentonmwood Please open a new issue in  https://issues.redhat.com/browse/WFLY ,
as there is nothing we can do about this issue at the smallrye-jwt level - such issues may be handled at the integrating container level.
CC @darranl @SoniaZaldana

Darran, Sonia, if you think this is a smallrye-jwt specific issue then please reopen it :-)

[2021-03-10 17:12] #435 closed

[2021-03-22 18:47] dentonmwood opened #440 "SmallRye-JWT with JSF"
Is integrating SmallRye-JWT with JSF supported? We have a JSF 2.3 client running on WildFly which we'd like to use MP-JWT with, but I can't seem to get the integration working. In lieu of @LoginConfig, I specified the login config in the web.xml file:

[code]

However, when I load the page with a bearer token, it returns a 403, and it won't hit our servlet filter.

[2021-03-22 22:23] sberyozkin commented on #440
@dentonmwood thanks, this issue belongs in the WildFly GitHub - please move it there, thanks CC @darranl

[2021-03-22 22:26] dentonmwood commented on #440
@sberyozkin thanks for the clarification!

[2021-03-22 22:26] #440 closed

[2021-03-22 22:29] sberyozkin commented on #440
@dentonmwood  np, thanks - `smallrye-jwt` is a self-contained library while the integrations are done ate the higher level in WildFly, and other propjects

[2021-03-23 09:51] darranl commented on #440
FYI as a discussion topic here would be the place to begin https://groups.google.com/g/wildfly

[2021-03-26 22:45] sberyozkin opened #443 "Update README and the default encryption algorithm references"
README is outdated and still mentions `MP JWT 1.1.1`

Default encryption algorithm is now `RSA-OAEP` (docs, javadocs still refer to `RSA-OAEP-256`).

[2021-04-06 16:00] darranl opened #444 "Incorrect Message When Jakarta EE Security NOT available."
@LogMessage(level = Logger.Level.INFO)
    @Message(id = 12019, value = "EE Security is available, JWTHttpAuthenticationMechanism has been registered")
    void jwtHttpAuthenticationMechanismNotRegistered();

[2021-04-07 11:48] #444 closed

[2021-04-07 20:27] #443 closed

[2021-04-08 09:13] sberyozkin opened #448 "Fix the error message referring to 'smallrye.jwt.sign.key-location'"
It is now `smallrye.jwt.sign.key.location` so the error message is confusing

[2021-04-08 13:48] #448 closed

[2021-04-16 14:05] SoniaZaldana opened #451 "Support using smallrye to issue tokens without properties file"
Hi all,

I am currently working on a proof of concept to dynamically issue JWT tokens in Elytron. I have been implementing an API using smallrye-jwt version 3.0.0. I noticed that there are certain claims (namely issuer and audience) that we need to specify programmatically, or it will try looking for the value of these claims in the Microprofile JWT properties file. In my implementation, we are no

[2021-04-19 10:35] sberyozkin commented on #451
Hi @SoniaZaldana - thanks for this information, I was under impression only the server-centric smallrye-jwt code was used - so I'll try to take an extra care when dealing with `smallrye-jwt-build` :-).

I don't understand why it is breaking for your implementation given that it is an optional value ?

[2021-04-19 10:45] sberyozkin commented on #451
Is that `ConfigProvider.getProvider()` code is causing problems when no configuration file is available ? It would be unexpected and would require a fix in smalltye-config IMHO if it were the case - now that I think about it these tests have the test config source

[2021-04-19 10:50] sberyozkin commented on #451
I'm not seeing any Throwable in `ConfigProvider.getConfig()` JavaDocs, hmm, I'll need to ping Roberto about it once he is back online

[2021-04-19 10:54] sberyozkin commented on #451
Or we can just that Throwable and return the default value, @SoniaZaldana is it what you were thinking about ?

[2021-04-19 11:17] radcortez commented on #451
The `microprofile-config.properties` is not required. Do we have a reproducer for this?

[2021-04-19 11:20] sberyozkin commented on #451
Hey Roberto @radcortez - at the moment this is the only possible issue which I can imagine causing some problems for @SoniaZaldana's project - but I may be be wrong, so lets see what Sonia says

[2021-04-19 17:30] SoniaZaldana commented on #451
Hi @sberyozkin @radcortez, thanks for looking into this. At the moment, I am getting a ``java.lang.IllegalStateException: No ConfigProviderResolver implementation found!`` whenever we try to access any of the config properties when setting the default claims. If the ``microprofile-config.properties`` file is not required, perhaps there is something I am missing in my configuration to avoid this er

[2021-04-19 21:56] sberyozkin commented on #451
Hi @SoniaZaldana, np at all; I'm pretty sure it is a setup issue, lets see what Roberto says

thanks

[2021-04-19 22:27] radcortez commented on #451
Hum, that message is thrown by the MP Config API in the SPI. It means there is no implementation available in the classpath (or at least in the classloader). Can you make sure that an implementation of MP Config is available (SR Config)?

[2021-04-20 08:58] sberyozkin commented on #451
`smallrye-jwt-build` depends on `smallrye-config`. @SoniaZaldana - do you have this project in GitHub ?

[2021-04-20 17:57] SoniaZaldana commented on #451
hi @sberyozkin @radcortez , looks like I was missing the smallrye-config dependency. I can confirm I don't see any further issues even with a missing properties file as long as I added this dependency. I'll go ahead and close this issue as it looks like there won't be any changes necessary to smallrye. Thanks for the help!

[2021-04-20 17:57] #451 closed

[2021-04-20 20:33] sberyozkin commented on #451
@SoniaZaldana Great, thanks for the confirmation :-)

[2021-04-27 17:11] sberyozkin commented on #321
It should work with a single JWK - when both `kid` and `alg` (and `encAlg` for encryption) are collected from JWK - and with a multi-key JWK set - where `kid` is already known but `alg`/`encAlg` - may not yet

[2021-04-27 17:12] sberyozkin commented on #321
I'll try to fix this issue asap and release 3.1.1 (after updating the forum)

[2021-04-29 22:00] benjaques opened #460 "Support for Proxy Host/Port/Auth in Key Location"
Hi all,

Currently leveraging the smallrye-jwt extension in Quarkus. We have an issue in that some of our hosting environments are behind various corporate proxies and require a proxy auth before the request to the external JWT location can be made. Of course, we can simply set the JVM arguments (-Dhttp.proxyHost,Port,etc) inside our image, but we'd like to restrict the proxy access to this specif

[2021-04-30 12:31] sberyozkin commented on #460
Hi @benjaques

It feels like it is a bit out of scope for smallrye-jwt - but at the same time, key resolvers do use `HttpsJwk`, so making sure JWKS acquisition/refreshment works with HTTP Proxies at the smallrye-jwt level likely makes sense.
Perhaps we should introduce `Proxy` configuration object (`smallrye.jwt.http.proxy.username` etc) and pass it around with `JWTContextInfo` for the resolvers t

[2021-05-05 09:36] sberyozkin opened #462 "Optionally cache the configured keys used to sign/encrypt the claims"
When we have `Jwt.claim("a", "b").sign()` or `Jwt.claim("a", "b").encrypt()` the configured keys are loaded from the file system/etc.
If the same builder is used to generate multiple tokens then it is suboptimal to load it every time

[2021-05-05 09:43] sberyozkin commented on #462
That said - it is not obvious it makes sense to use the same builder for ex in context of the client request to create a new token... In such cases it can be cheaper to load the key separately and reuse it - the builder factory itself is cached...
So I might close this issue for now

[2021-05-07 09:30] sberyozkin opened #463 "Make sure JWT ID (jti) claim value is unique when the builder is reused"
`jti` claim is set automatically if it has not been set - but if the builder is re-used then it will remain the same when the next token is created - which can cause a token rejection.
The last `jti` value needs to be saved - the builder is not expected to be thread safe and it is already doc-ed - it keeps the claims/headers state already

[2021-05-20 17:21] sberyozkin commented on #211
We have discussed it further with Roberto, and indeed the use of `smallrye-converters` looks very promising (see also the #212 WIP PR from Roberto).

The ultimate goal is to update all of `smallrye-jwt` conversion logic to use the various provided converters to convert claims to the custom injection target classes, for example, `String to Long` or `String` to `Long` etc.
Additionally, we already h

[2021-05-20 17:23] sberyozkin commented on #211
Of course we can try to do it in one go - but I guess it can be a less sensitive refactoring if we do in 2 iterations...

[2021-05-21 10:13] sberyozkin commented on #211
I propose to tackle it for `3.3.0` - soon to be released `3.2.0` already has the `MP-JWT 1.2.1` dependency update with a couple of minor jwt build issues to be fixed which is enough for `3.2.0`

[2021-05-25 16:02] #463 closed

[2021-05-27 11:08] #462 closed

[2021-06-02 10:25] sberyozkin opened #469 "Let users disable the issued at claim requirement"
A Quarkus user has reported that with smallrye-jwt `3.x` the tokens without `iat` are rejected.

MP JWT 1.2 enforces an MP JWT 1.1.1 requirement that `iat` is one of the required claims (not all of the claims from that MP JWT 1.1.1 list are enforced) but `iat` is one of the very essential claims so it is enforced.

The problem is the user is working with a 3rd party issuer which can not be changed

[2021-06-09 15:12] sberyozkin commented on #469
@MikeEdgar Hi Mike, recall you added a time to live property - this one, if set, requires an `iat` - so I'd like to address this issue in terms of that property - I'm a bit hesitant to add a dedicated property to let users ignore `iat` since it is really an important property.
So what I'd like to do is to check if the time to live property is set and if it is <=0 then no time to live constraint ha

[2021-06-09 17:19] xwoker commented on #469
Since the `smallrye.jwt.time-to-live` property seems to have no default set, my assumption would be that there value has to be set to` > 0` in order to trigger the `iat` check. But - at least it seems to me - the `iat` is checked even if the property isn’t set at all.

[2021-06-09 18:16] MikeEdgar commented on #469
:+1: @sberyozkin, that sounds like a reasonable approach to me.

[2021-06-10 13:28] sberyozkin commented on #469
@xwoker Right, so I'll fix this issue as described above

[2021-06-15 10:02] #469 closed

[2021-06-17 09:12] sberyozkin opened #478 "Fetch remote verification keys at startup"

[2021-08-20 11:18] sberyozkin opened #493 "JwtEncryptionImpl uses the wrong default key encryption algorithm"
It is `RSA-OAEP` now which is also doc-ed in `JwtEncryption` but the implementation continues setting the default algorithm (if none is already set) to `RSA-OAEP-256` - this causes the confusion since on the server code does default to `RSA-OAEP`

[2021-08-22 15:45] #493 closed

[2021-08-26 09:32] sberyozkin opened #500 "JsonWebToken.getGroups implementation should return non empty Set if the groups is a string"
smallrye-jwt can already handle a custom role claim which is a string only, possibly with spaces or other separator in between (as opposed to an array of strings).
`getGroups` is immediately implemented to check a JSON array only and returns an empty set if `groups` is a string.
I've checked MP JWT spec texts and `JsonWebToken` docs - while the spec text says it is a list there is no requirement i

[2021-09-06 13:40] thomaswoeckinger opened #503 "DefaultJWTTokenParser requires issued at claim (IAT)"
Issued AT is optional for JWT as described in https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.6.

The DefaultJWTTokenParser assigns the variable issuedAtRequired in line 121 by:

[code]

which should be:

[code]

[2021-09-07 08:46] sberyozkin commented on #503
@thomaswoeckinger Hi, thanks for opening the issue. I'm afraid it is an invalid issue. `MP JWT` != `JWT`. JWT is a base spec, everything is optional there, one could equally say then the bug is that an expiry claim is also enforced. MP JWT enforces that an issued token has an expiry and issued at claims.  Any good OIDC provider would set an issued at claim. There is no technical reason why a self-

[2021-09-07 08:46] #503 closed

[2021-09-23 11:43] sberyozkin opened #507 "Undeprecate `smallrye.jwt.verify.key.algorithm` for customizing symmetric algorithms"
`smallrye.jwt.verify.key.algorithm` is deprecated given that a standard `mp.jwt.verify.publickey.algorithm` is now available - with MP JWT focusing on RS or ES signatures. So if a user need to verify a token signed by a secret key then using `mp.jwt.verify.publickey.algorithm` to specify is `HS*` is not great.

The proposal is to un-deprecate `smallrye.jwt.verify.key.algorithm` and only warn it is

[2021-10-08 13:32] brunobat opened #511 "Public key download blocks event loop and takes the service down"
When we provide a URI to download the certs containing the public keys, if that endpoint fails to respond, the thread get's locked and causes issues both on service startup and also unintended service restarts triggered by kubernetes.

The rest client should be setup with a short and configurable read and connection timeouts.

When we use the library on Quarkus 1.13.4 under Java 11, At least.

[2021-10-08 15:42] sberyozkin commented on #511
Hi @brunobat thanks for opening this issue, I think we'll need to fetch the remote keys immediately at the start up, right now it is done at the 1st request time.
I can also  suggest a workaround, create a custom mechanism:

https://quarkus.io/guides/security-customization#httpauthenticationmechanism-customization

All it will do is it will extend [JWTAuthMechanism](https://github.com/quarkusio/qu

[2021-10-08 17:32] sberyozkin commented on #511
@brunobat Good point, I forgot `HttpAuthenticationMechanism` has no blocking context available, please see https://github.com/quarkusio/quarkus/pull/20635 for further discussion related to it.

Re the possible refresh - yes, this is why https://github.com/quarkusio/quarkus/pull/20635 would be the best solution in the short term, while reading the keys early would only be a good optimization.
Also,

[2021-10-11 09:22] brunobat commented on #511
Will try it and get back to you. Thanks @sberyozkin !

[2021-10-14 08:49] sberyozkin commented on #511
@brunobat https://github.com/quarkusio/quarkus/pull/20635 has been merged so it will make it to in 2.4.0.Final. If you won't be able to migrate then indeed experiment with a custom `IdentityProvider`:
[code]

should do it.

[2021-10-26 09:56] sberyozkin opened #514 "Introduce properties for configuring signing and encrypting algorithms for JWT Build"
For example, instead of
[code]

it should be possible to do
[code]

followed by

[code]

[2021-10-29 17:05] #500 closed, assigned to nobody

[2021-10-31 17:02] #507 closed

[2021-11-02 10:41] #514 closed

[2021-11-02 10:46] sberyozkin commented on #511
@brunobat I'm closing this issue as it it is really a Quarkus issue which has been worked-around with https://github.com/quarkusio/quarkus/pull/20635.

smallrye-jwt enhancement which can eliminate such issues is #345

thanks

[2021-11-02 10:46] #511 closed

[2021-11-04 13:14] sberyozkin opened #519 "Add a property for configuring a content encryption algorithm for JWT build"
Follows #514, `smallrye.jwt.new-token.content-encryption-algorithm` should've been added there - there was no practical requirement yet to do it with the property (can be done from the API only) as it is a rare requirement, but it should be added for completeness

[2021-11-16 23:41] dnfesenk opened #521 "DefaultJWTParser cached PublicKey location"
I try to parse JWT token from string like [this](https://quarkus.io/guides/security-jwt#create-jsonwebtoken-with-jwtparser), but if I use JWT auth on method that parsed token from string, I can't override public key location, because DefaultJWTParser ignore it. So, if I inject JWTParser, it created singleton of JWTCallerPrincipalFactory, that has final field of DefaultJWTTokenParser (on DefaultJWT

[2021-11-18 12:56] sberyozkin commented on #521
@dnfesenk There are more methods available, please use

https://github.com/smallrye/smallrye-jwt/blob/main/implementation/jwt-auth/src/main/java/io/smallrye/jwt/auth/principal/JWTParser.java#L64

[2021-11-18 13:27] dnfesenk commented on #521
@sberyozkin Thanks! But how can I create PublicKey from jwk location url?

[2021-11-18 14:40] sberyozkin commented on #521
@dnfesenk Why would you like to override the location ?

[2021-11-18 15:05] dnfesenk commented on #521
@sberyozkin because I have a special case to validate and parse jwt-token from another auth-server. I found the way, thank you!

[2021-11-18 15:23] sberyozkin commented on #521
@dnfesenk sounds good; pointing to a JWK set with more than one key would be one approach, as long as the token contains `kid` it would work

[2021-11-19 10:23] sberyozkin commented on #521
@dnfesenk I think I'll resolve this issue by updating the docs, advising to avoid injecting `JWTParser` and instead use `new DefaultJWTParser()` if the key requirements are changing dynamically or, when possible, use `JsonWebKeySet`

[2021-11-19 10:28] sberyozkin opened #524 "Add smallrye.jwt.sign.key and smallrye.jwt.encrypt.key properties"
Right now only `smallrye.jwt.sign.key.location` and `smallrye.jwt.encrypt.key.location` are available - but a Quarkus user would like to fetch the signing keys from Vault so it would be good to support `smallrye.jwt.sign.key=${vault.key}` indirection, but also advise in the docs to avoid inlining the private keys;  though it should be ok for `smallrye.jwt.encrypt.key`

[2021-11-21 13:23] kdubb commented on #345
Any movement on this? This is literally the only code we have that isn't reactive or coroutines. We verify our JWTs using HTTP JWKs which obviously required remote fetches. The fetches are already reactive this interface is the only limiter.

[2021-12-01 14:20] #524 closed

[2021-12-02 12:33] #519 closed

[2021-12-02 12:34] #521 closed

[2021-12-12 16:52] sberyozkin opened #535 "Trim `smallrye.jwt.sign.key.location` and `smallrye.jwt.encrypt.key.location` property values"

[2021-12-15 18:19] sberyozkin opened #537 "Add smallrye.jwt.new-token.subject property"
It is already possible to customize the issuer and audience from the config, customizing subject can also help in some cases

[2021-12-16 16:41] spike83 opened #538 "In DefaultJWTTokenParser first keyResover wins no matter what authInfoContext specifies"
I try to call an oidc secured service out of an oidc secured service. So the default `publicKeyLocation` is set to my IDP in order to verify tokens. When trying to validate the JWT from external service I cannot specify another `publicKeyLocation` in a dedicated `JWTAuthContextInfo`.

In https://github.com/smallrye/smallrye-jwt/blob/main/implementation/jwt-auth/src/main/java/io/smallrye/jwt/auth/p

[2021-12-16 20:39] tomwetjens opened #539 "Producer method return type not found in index: javax.json.JsonObject"
After upgrading Quarkus to 2.5.3, the application fails to startup because javax.json is no longer on the class path as it is replaced with jakarta.json.

One of the offending classes is io.smallrye.jwt.auth.cdi.JsonValueProducer. There might be other classes that import javax.json.
The imports should be replaced with jakarta.json.

Application startup fails with error message:
[code]

Possible wo

[2021-12-17 07:02] bboyz269 opened #540 "All configurations is loss when `JWTAuthContextInfo` bean is copied from an original proxy bean."
**Issue**
In copy constructor of `JWTAuthContextInfo`, direct access to private is used instead of accessor.

[JWTAuthContextInfo.java#L91L124](https://github.com/smallrye/smallrye-jwt/blob/main/implementation/jwt-auth/src/main/java/io/smallrye/jwt/auth/principal/JWTAuthContextInfo.java#L91L124)
[code]

In many solutions such as Quarkus DI, proxy bean is created where underling properties do not h

[2021-12-17 10:56] radcortez commented on #539
Hi @tomwetjens

This sounds really strange because neither SR JWT nor Quarkus moved to the `jakarta` namespace. I'm wondering if you have something else in the classpath that is overriding the `javax` one?

Are you able to provide a reproducer? Thank you

[2021-12-17 13:43] tomwetjens commented on #539
As I was trying to create a reproducer from the quickstart, I found out that somehow through parent POMs, the version of org.glassfish:jakarta.json was managed to 2.0.1, whereas quarkus comes with 1.1.6. The former has the jakarta.json classes and the latter still has the javax.json classes.

Removing this version override did the trick to make it work!

[2021-12-17 13:43] #539 closed

[2021-12-17 16:54] sberyozkin commented on #538
@spike83 `smallrye-jwt` is not designed to be multi-tenant such that a single parser can be used to verify the tokens signed by different providers.
If you need to support more than one key at a time, where tokens are coming from the same provider then using `Json Web Key Set` is the simplest option.
But if each token may have a different issuer then one should create several `DefaultJWTParsers` t

[2021-12-18 03:58] spike83 commented on #538
@sberyozkin thanks for the quick reply. I have worked out similar thing yesterday but in context of CDI (quarkus). In my case the `JWTAuthContextInfo` is injected so I can inject a mock during tests.

I think especially a remark in here https://github.com/smallrye/smallrye-jwt/blob/main/implementation/jwt-auth/src/main/java/io/smallrye/jwt/auth/principal/JWTParser.java#L43-L53 would have pointed m

[2021-12-21 18:28] sberyozkin commented on #538
@spike83 I'll update the code a bit later on to ensure a new factory instance is created for all but a single arg `parse` method accepting a token only - it will avoid the problem with the cached key resolver.  `new DefaultJWTParser(new JWTAuthContextInfo("key1.pem"), new DefaultJWTCallerPrincipalFactory())` works but the users should not be required ti do it, `new DefaultJWTParser(new JWTAuthCont

[2022-01-13 13:24] sberyozkin opened #546 "Setting the expiry grace period to 0 fails to verify the expired tokens"
A user has reported that when changing a grace period from the default 60 secs to 0 the expired tokens can be accepted - it will need to be reproduced with a test and fixed

[2022-01-14 00:02] maxant commented on #546
see https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Issue.20with.20JWT.20expiry.20grace.20period.3F/near/267730986

I'll try writing a test in the next few days

[2022-01-20 10:47] #540 closed

[2022-01-20 10:47] #538 closed

[2022-01-20 10:59] #546 closed

[2022-01-20 11:09] sberyozkin opened #552 "Allow to relax the key length validation when building JWT"
It is related to https://github.com/quarkusio/quarkus/discussions/23053 (and s similar issue was discussed on Zulip awhile back). There could be cases where it is impossible to provide a secret/key of the correct length.

It is possible to relax it when verifying the tokens, with `smallrye.jwt.verify.relax-key-validation`. So a similar property can be be used when signing or encrypting the token

[2022-01-20 18:05] #535 closed

[2022-01-20 18:05] #552 closed

[2022-01-25 11:10] Skyllarr commented on #437
I am working on this one.

[2022-01-30 15:24] Diom opened #558 "Allow Subject Claim Override"
I have been trying to ignore the subject as provided by an IDP and use a different claim as the subject. However it appears that this is not currently possible with SmallRye JWT

        if (!claimsSet.hasClaim(Claims.sub.name())) {
            String sub = findSubject(authContextInfo, claimsSet);
            claimsSet.setClaim(Claims.sub.name(), sub);
        }

See [here](https://github.com/smal

[2022-01-31 15:37] sberyozkin commented on #558
@Diom IMHO we should not be doing it. Th existing code does not create a new content in a token it only duplicates it into a given standard claim if the actual content is located in a custom complex or simple claim.
Overriding the existing token content as part of the token verification is out or scope for smallrye-jwt.

I believe that such a requirement should be addressed at a different level. F

[2022-01-31 15:42] sberyozkin commented on #558
What is the use case ?

[2022-01-31 18:49] Diom commented on #558
@sberyozkin You might be right that it should be addressed at a higher level actually, rather than SmallRye.
Use case is essentially that the IDP has a second 'username' claim that also is guaranteed to be unique in our scenario (integration of another external IDP, which populates the 'username' claim). In our case one of the microservices is responsible for fetching data from another external sy

[2022-02-01 09:58] sberyozkin commented on #558
@Diom thanks, perhaps this specific endpoint should check the specific non `sub` claim ?

[2022-02-04 13:13] sberyozkin opened #564 "Add KeyEncryptionAlgorithm AES GCM KW enum values"
https://datatracker.ietf.org/doc/html/rfc7518#section-4.7

At the moment it is not possible to use these algorithms

[2022-02-18 07:22] kdubb opened #571 "`mp.jwt.verify.publickey.location` needs to support TLS configuration"
This URL's need to be able to configure TLS parameters (e.g. CA, Cert, Key).

We use an internal service (via a Vault plugin) that generates internal JWTs for micro-service authorization and provides public keys for verification via a standard JWKs endpoint. With TLS required for Vault we cannot load our verifications keys from this endpoint since we use a cluster local self-signed CA.

[2022-02-18 07:24] kdubb commented on #571
For use we need a minimum of configuration the trusted CA(s). This is supported by the Jose4j used in the implementation but there is no configuration in Smallrye JWT to make it work.

[2022-02-21 19:36] sberyozkin commented on #571
Hi @kdubb It makes sense, it is similar to #460. Would you like to give it a try ? I guess a dedicated configuration group will be needed

[2022-02-22 14:06] MikeEdgar commented on #571
@sberyozkin, @kdubb - I will also have a need for this feature soon. Let me know if you won't have an opportunity and I may be able to look at it. The only question is - what should the content of the new configuration property be? The simplest would probably be the trusted CA's PEM certificate.

[2022-02-22 14:30] kdubb commented on #571
`HttpsJwks` (via `Get`) easily supports `setTrustedCertificates` and `setHostnameVerifier` and for extended configuration it does have a `setSslSocketFactory`.

As I stated all we require is trusted CA's so I'm probably gonna wire that up along with hostname verification and leave the rest up to a different PR.

[2022-03-31 09:16] #558 closed

[2022-04-11 10:08] SMakhrov opened #580 "Option to change Authorization header to another one"
Hello!

Does exist any way to change Authorization header to another one? For example - to use X-JWT-Assertion?
Default logic:
**Authorization** header with value **Bearer** [token]
Target logic:
**X-JWT-Assertion** header with value [token]

[2022-04-11 10:25] sberyozkin commented on #580
It is an `mp.jwt.token.header` property, see https://smallrye.io/docs/smallrye-jwt/configuration.html

[2022-04-11 10:25] #580 closed

[2022-04-12 07:49] dameng58 opened #581 "jwt.verify.publickey.location property disable ssl hostname verify?"
**i set jwt.verify.publickey.location property in my properties:**

mp.jwt.verify.publickey.location=https://userservice/.well-known/jwks.json
mp.jwt.verify.issuer=TelCloud

**and i'm use quarkus-smallrye-jwt, and it's version is 2.4.1.Final**

**but I've had such a mistake:**

Caused by: javax.net.ssl.SSLHandshakeException: No subject alternative DNS name matching userservice found.
        at ja

[2022-04-12 07:58] dameng58 commented on #581
@[sberyozkin](https://github.com/sberyozkin)

[2022-04-13 14:34] sberyozkin commented on #571
@kdubb @MikeEdgar I'm looking at it right now and will open a PR shortly

[2022-04-15 14:08] #571 closed

[2022-04-15 14:08] #581 closed

[2022-04-18 20:16] jie-huang opened #585 "NullJsonWebToken throw NPE"
NullJsonWebToken implements JsonWebToken.

But, getExpirationTime() and getIssuedAtTime() in JsonWebToken both return primitive `long` type.
So, the implementation of <T> T getClaim(String claimName) should not return null in such cases.
Otherwise, it triggers NPE when unboxing it.

Error message is like
---------------------------------
Cannot invoke "java.lang.Long.longValue()" because the retur

[2022-04-19 10:19] sberyozkin commented on #585
But it is probably correct. Accessing a null token should lead to NPE, `NullJsonWebToken` only exists because a request scoped `null` token has to be represented somehow

[2022-04-19 13:25] #460 closed

[2022-04-19 13:37] #564 closed

[2022-04-21 20:09] jie-huang commented on #585
Not really. NullJsonWebToken is a null token but it is not a Java null.
Since NullJsonWebToken implements JsonWebToken, when it is not a Java null, it should have consistent behavior for different methods.
e.g. getRawToken() returns null. It is reasonable because it does not have a token.
But, getExpirationTime() throws NPE. Personally, such cases return -1 or 0 could be acceptable and easy for pe

[2022-04-22 09:02] sberyozkin commented on #585
@jie-huang But `0` or `-1` is not an indicator that the token does not exists. The raw token is null, so how is returning `0` or `-1` can be considered consistent ?

What I'd also like to check, what is the actual use case ? Are you working with Quarkus ? Is it on the public path, does the endpoint method require the authentication and/or authorization ? If it is a protected endpoint then an injec

[2022-04-22 18:22] jie-huang commented on #585
I found this NPE when I work on some tools with Quarkus.
I tried to return a JsonObject of the JsonWebToken (with/out authentication).
Like what you said, when it is not authenticated, it is a NullJsonWebToken object.
I tried to customize the conversion of NullJsonWebToken object. Unfortunately, it did not work because both NullJsonWebToken and JsonWebToken go to the same _serialize()_ method. And

[2022-04-24 17:06] sberyozkin commented on #585
I'm sorry but I think if you have a non-authenticated case then attempting to auto-serialize into some Java bean is not safe.

[2022-04-24 17:06] #585 closed

[2022-05-02 13:54] MikeEdgar opened #593 "Support for `data:` URLs for loading resources"
Currently, the loading of resources is limited to `file`, `https`, and `classpath` URLs [1]. It would be useful to also support `data` URLs [2] as well. In a cloud environment, this would allow us to directly specify resources via env (from secrets) instead of mounting the secrets as volumes and mapping to files.

For example, the configuration could be set to:
[code]
Allowing the secret to be map

[2022-05-05 12:43] sberyozkin commented on #593
if you agree with the `smallrye.jwt.client.tls.certificate` idea then we can still track the option of supporting custom URL schemes with this issue

[2022-05-05 12:57] MikeEdgar commented on #593
@sberyozkin I think the suggestion to have `smallrye.jwt.client.tls.certificate` is good. I spent a little time looking into the `data:` URL and there is actually some complexity around the payload being URL-encoded which reveals it may not be viable for this use case.

[2022-05-16 11:56] sberyozkin opened #595 "Support for inlined TLS certificates"
We agreed in #593 that it can be useful in some cases to let users inline a trusted certificate in the configuration.

[2022-05-16 21:26] sberyozkin commented on #253
Hi @darranl Has this issue been resolved ? I've just merged #594

[2022-05-17 10:20] #595 closed

[2022-05-17 13:17] sberyozkin commented on #253
Darran, you fixed it with #526, so this one can be closed

[2022-05-17 13:17] #253 closed

[2022-05-23 20:57] #85 closed

[2022-07-26 08:45] agreedSkiing opened #626 "smallrye.jwt.client.tls.hosts or smallrye.jwt.client.tls.trusted.hosts"
# Issue
In the [configuration.adoc](https://github.com/smallrye/smallrye-jwt/tree/main/doc/modules/ROOT/pages/configuration.adoc) file the configuration parameter for trusted hosts is `smallrye.jwt.client.tls.trusted.hosts` but whilst searching for it in the code base it is instead called `smallrye.jwt.client.tls.hosts` in [JWTAuthContextInfoProvider.java](https://github.com/smallrye/smallrye-jwt/

[2022-07-27 08:36] sberyozkin commented on #626
@agreedSkiing Thanks for spotting it, it is a typo in the docs, option 1 is a solution.

[2022-07-28 13:13] #626 closed

[2022-08-18 09:08] t1 opened #631 "Provide cause with `signingKeyCanNotBeLoadedFromLocation`"
The `catch` block in `io.smallrye.jwt.build.impl.JwtSignatureImpl#getKeyContentFromLocation` doesn't include the cause into the `signingKeyCanNotBeLoadedFromLocation` exception it throws, although that detail can be very helpful.

This is such a minor change that I don't want to jump through the fork-pr-loop ;-)

[2022-09-02 13:27] sberyozkin opened #635 "Add support for ES256K signature algorithm"
Now that jose4j 0.8.0 is released, we can update both smallrye-jwt-build and smallrye-jwt to support the ES256K signature algorithm

https://bitbucket.org/b_c/jose4j/commits/6436f76f5a667c88e1aea9225084f1135deeed9d

[2022-09-07 11:38] #635 closed

[2022-11-04 14:30] sberyozkin opened #650 "Refactor DefaultJwtTokenParser to make it easier to reuse its token verification code"
See https://stackoverflow.com/questions/74300037/how-to-customize-jwt-parsing-in-quarkus

[2022-11-04 14:40] sberyozkin commented on #650
Unfortunately it won't be possible to move the decryption and the signature verification code into a single self-contained code

[2022-11-04 14:40] #650 closed